<%= form_with(model: @it_security_incident, local: true) do |form| %>
  <%= render "partials/errors", object: @it_security_incident %>

  <div class="form-container">
    <div>
      <h3 class="instruction-header">
        Form Instructions
      </h3>
      <p>Ipsum voluptate aliquip adipisicing labore sint amet officia commodo 
      duis laboris do sit. Labore veniam mollit commodo quis nisi esse aute 
      fugiat. Amet exercitation aliquip labore ullamco irure magna tempor ad 
      sit aliqua culpa. Aliquip occaecat dolore Lorem officia incididunt amet 
      nisi nulla amet aute ex aute. Proident labore fugiat commodo ipsum ut 
      Lorem aliquip officia reprehenderit. Laboris dolore amet non irure do 
      voluptate nisi ex. Magna ullamco veniam exercitation duis esse officia 
      duis labore tempor sunt mollit.</p>
    </div>

    <div class="field-container">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, required: true %>
        <p class="required"><span class="help-text">Short descriptive summary of event</span></p>
      </div> 
      <div class="field">
        <%= form.label :date %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <i class="fas fa-calendar-day text-gray-400"></i>
            </div>
            <%= form.text_field :date,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: 1.year.ago
              },
              required: true
            %>
        </div>
        <p class="required"><span class="help-text">Date of incident</span></p>
      </div>

      <div class="field">
        <%= form.label :people_involved %>
        <%= form.text_area :people_involved, required: true %>
        <p class="required"><span class="help-text"></span></p>
      </div>

      <div class="field">
        <%= form.label :equipment_involved %>
        <%= form.text_area :equipment_involved, required: true %>
        <p class="required"><span class="help-text"></span></p>
      </div>

      <div class="field">
        <%= form.label :remediation_steps %>
        <%= form.text_area :remediation_steps, required: true %>
        <p class="required"><span class="help-text"></span></p>
      </div>

      <div class="field">
        <%= form.label :data_type_id %>
        <%= form.collection_select :data_type_id, DataType.all, :id, :name, {include_blank: "Select"}, required: true %>
        <p class="required"><span class="help-text"></span></p>
      </div>

      <div class="field">
        <%= form.label :it_security_incident_status_id, "IT security incident status" %>
        <%= form.collection_select :it_security_incident_status_id, ItSecurityIncidentStatus.all, :id, :name, {include_blank: "Select"}, required: true %>
        <p class="required"><span class="help-text"></span></p>
      </div>

      <div class="field">
        <%= form.label :estimated_financial_cost %>
        <%= form.number_field :estimated_financial_cost %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :notes %>
        <%= form.text_area :notes %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.fields_for @it_security_incident.tdx_tickets.new do |f| %>
          <%= f.label :ticket_link, "Add a TDX ticket link" %>
          <%= f.text_field :ticket_link %>
        <% end %>
        <% if @it_security_incident.tdx_tickets.present? %>
          <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">
              TDX tickets connected to this record: 
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <% @it_security_incident.tdx_tickets.each do |tdx| %>
                  <% if tdx.persisted? %>
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                      <div class="w-0 flex-1 flex items-center">
                        <i class="fas fa-link text-gray-400"></i>
                        <span class="ml-2 flex-1 w-0 truncate">
                          <%= link_to tdx.ticket_link, url_for(tdx.ticket_link), target: "_blank" %>
                        </span>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </dd>
          </div>
        <% end %>
      </div>

      <div id="attached_files" class="field">
        <%= form.label :attachments %>
        <%= form.file_field :attachments, multiple: true %>
        <% if @it_security_incident.attachments.attached? %>
          <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">
              Other files currently connected to this record:
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <% @it_security_incident.attachments.each do |ma| %>
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                      <i class="fas fa-paperclip text-gray-400"></i>
                      <span class="ml-2 flex-1 w-0 truncate">
                        <%= link_to ma.filename, url_for(ma), target: "_blank" %>
                      </span>
                      <% unless ma.id.nil? %>
                        <span class="text-gray-300" aria-hidden="true">|</span>
                        <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                          <%= link_to 'Remove', delete_file_path(ma), data: { confirm: "Are sure you?" } %>
                        </button>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </dd>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>