<%= form_with(model: @it_security_incident, local: true) do |form| %>
  <% if @it_security_incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@it_security_incident.errors.count, "error") %> prohibited this it_security_incident from being saved:</h2>

      <ul>
        <% @it_security_incident.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div>
      <h3 class="instruction-header">
        Form Instructions
      </h3>
      <p>lsndn lksnsdj snnrew9ioqw\9, c diojslkmsdp odew-mw,mp owlf=w-9ke w,[osdk</p>
    </div>

    <div class="field-container">
      <div class="field">
        <%= form.label :date %>
        <%= form.text_field :date,
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "Y-m-d",
            flatpickr_min_date: Time.zone.now
          },
          required: true 
        %>
      </div>

      <div class="field">
        <%= form.label :people_involved %>
        <%= form.text_area :people_involved, required: true %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :equipment_involved %>
        <%= form.text_area :equipment_involved, required: true %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :remediation_steps %>
        <%= form.text_area :remediation_steps, required: true %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :data_type_id %>
        <%= form.collection_select :data_type_id, DataType.all, :id, :name, {include_blank: "Select"}, required: true %>
      </div>

      <div class="field">
        <%= form.label :it_security_incident_status_id %>
        <%= form.collection_select :it_security_incident_status_id, ItSecurityIncidentStatus.all, :id, :name, {include_blank: "Select"}, required: true %>
      </div>

      <div class="field">
        <%= form.label :estimated_finacial_cost %>
        <%= form.number_field :estimated_finacial_cost %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :notes %>
        <%= form.text_area :notes %>
        <p class="help-text">Help text if needed</p>
      </div>

      <%= form.fields_for @it_security_incident.tdx_tickets.new do |f| %>
        <div class="field">
            <%= f.label :ticket_link, "Add a ticket link" %>
            <%= f.text_field :ticket_link %>
        </div>
      <% end %>

      <% if @it_security_incident.tdx_tickets.present? %>
        <div>
          <% @it_security_incident.tdx_tickets.each do |tdx| %>
            <%= tdx.ticket_link %>
          <% end %>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :attachments %>
        <%= form.file_field :attachments, multiple: true %>
      </div>

      <%= form.hidden_field :incomplete %>

    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>