<%= form_with(model: it_security_incident) do |form| %>
  <% if it_security_incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(it_security_incident.errors.count, "error") %> prohibited this it_security_incident from being saved:</h2>

      <ul>
        <% it_security_incident.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <font color="red">**</font> - mandatory fields<br>
  <font color="red">*</font> - required fields; to save without these fields check the [incomplete] checkbox
  </div>

  <div class="field">
    <%= form.label :date %><font color="red">*</font>
    <%= form.date_select :date, include_blank: true, start_year: Date.current.year %>
  </div>

  <div class="field">
    <%= form.label :people_involved %><font color="red">**</font>
    <%= form.text_area :people_involved, required: true %>
  </div>

  <div class="field">
    <%= form.label :equipment_involved %><font color="red">**</font>
    <%= form.text_area :equipment_involved, required: true %>
  </div>

  <div class="field">
    <%= form.label :remediation_steps %><font color="red">**</font>
    <%= form.text_area :remediation_steps, required: true %>
  </div>

  <div class="field">
    <%= form.label :data_type_id %><font color="red">**</font>
    <%= form.collection_select :data_type_id, DataType.all, :id, :name, {include_blank: "Select"}, required: true %>
  </div>

  <div class="field">
    <%= form.label :it_security_incident_status_id %><font color="red">*</font>
    <%= form.collection_select :it_security_incident_status_id, ItSecurityIncidentStatus.all, :id, :name, {include_blank: "Select"} %>
  </div>

  <div class="field">
    <%= form.label :estimated_finacial_cost %>
    <%= form.number_field :estimated_finacial_cost %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :attachments %>
    <%= form.file_field :attachments, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :incomplete %>
    <%= form.check_box :incomplete %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
