<div id="it_security_incidentListing">
  <span class="display-filters-result">
      Total number of records: <%= "#{@pagy.count}" %>
  </span>

  <div class="flex flex-nowrap justify-center">
    <div class="fixed_header_container">
      <table class="fixed_header">
        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col"><%= sort_link(@q, :title, 'Title') %></th>
            <th scope="col"><%= sort_link(@q, :date, 'Date') %></th>
            <th scope="col"><%= sort_link(@q, :people_involved, 'People involved') %></th>
            <th scope="col"><%= sort_link(@q, :equipment_involved, 'Equipment involved') %></th>
            <th scope="col"><%= sort_link(@q, :remediation_steps, 'Remediation steps') %></th>
            <th scope="col"><%= sort_link(@q, :estimated_financial_cost, 'Estimated finacial cost') %></th>
            <th scope="col"><%= sort_link(@q, :it_security_incident_status_id, 'It security incident status') %></th>
            <th scope="col"><%= sort_link(@q, :data_type_id, 'Data type', default_order: :desc) %></th>
            </tr>
        </thead>

        <tbody>
          <% @it_security_incidents.each do |it_security_incident| %>
            <tr>
              <td>
                <ul>
                  <li><%= link_to 'Show', it_security_incident, class: "action-link" %></li>
                  <% if has_ad_access?(current_user, "it_security_incidents", "newedit_action") %>
                    <li><%= link_to 'Edit', edit_it_security_incident_path(it_security_incident), class: "action-link" %></li>
                  <% end %>
                  <% if has_ad_access?(current_user, "it_security_incidents", "archive_action") %>
                    <li><%= link_to 'Archive', archive_it_security_incident_path(it_security_incident), class: "action-link",  method: :post, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                  <% if has_ad_access?(current_user, "it_security_incidents", "audit_action") %>
                    <li><%= link_to 'Audit', it_security_incident_audit_log_path(it_security_incident), class: "action-link" %></li>
                  <% end %>
                </ul>
              </td> 
              <td><%= it_security_incident.title %></td>
              <td><%= show_date(it_security_incident.date) %></td>
              <td><%= it_security_incident.people_involved %></td>
              <td><%= it_security_incident.equipment_involved %></td>
              <td><%= it_security_incident.remediation_steps %></td>
              <td><%= it_security_incident.estimated_financial_cost %></td>
              <td><%= show_it_security_incident_status(it_security_incident) %></td>
              <td><%= show_data_type_name(it_security_incident) %></td>
            </tr>
          <% end %>

          <!-- Blank state -->
          <% if @it_security_incidents.empty? %>
          <tr>
              <td><em>No matching IT Security Incidents</em></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render partial: "partials/pagination", locals: { pagy: @pagy } %>
</div>