<h1>IT Security Incidents</h1>

<div class="py-2 sm:grid sm:grid-cols-5 sm:gap-4 border-b border-laitan_blue">
  <div class="sm:col-span-4">
    <div class="index-instruction p-2">
      <%= @it_security_incident_index_text.content %>
    </div>
    <div>
      <% if policy(Infotext).edit? %>
        <%= link_to edit_infotext_path(@it_security_incident_index_text) do %>
          <i class="far fa-edit text-laitan_blue"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mt-1 flex justify-end sm:mt-0">
    <span class="ml-4 flex-shrink-0">
      <% if policy(@it_security_incidents).new? %>
        <div role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
          <%= link_to 'New IT Security Incident', new_it_security_incident_path, class: "new-record-btn" %>
        </div>
      <% end %>
    </span>
  </div>
</div> 

<div data-controller='toggle' class="filter-area m-2">
  <button type="button" class="new-record-btn"
    data-action='click->toggle#toggle touch->toggle#toggle' >
  Filters
  </button>

  <div data-toggle-target='toggleable' class="filter-selections bg-yellow-50 shadow p-2 m-4 hidden">
    <%= search_form_for @q, class: "filter-form",
      data:{ controller: "filters"} do |f| %>
      <div class="grid grid-cols-2">

        <div class="col-span-2 mb-4 flex justify-start">
          <p>Group searching conditions by:</p>
          <div class="ml-4">
            <%= f.radio_button :m, 'and', :checked => true %>
            <%= f.label :m, 'and', value: 'and' %>
          </div>
          <div class="ml-4">
            <%= f.radio_button :m, 'or' %>
            <%= f.label :m, 'or', value: 'or' %>
          </div>
        </div>

        <div class="border">
          <div class="mx-2 mb-1">
            <div>
              <%= f.label :it_security_incident_status_id, "IT security incident status" %>
              <%= f.collection_select :it_security_incident_status_id_eq, @it_security_incident_status, :id, :name, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :title %>
              <%= f.text_field :title_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div class="flex items-end">
              <div class="flex-1 w-1/2">
                <%= f.label :date %>
                <%= f.text_field :date_gteq, placeholder: "From",
                    data: {
                      controller: "flatpickr",
                      flatpickr_date_format: "Y-m-d"
                    } %>
              </div>
              <div class="ml-1 flex-1 w-1/2">
                <%= f.text_field :date_lteq, placeholder: "To",
                    data: {
                      controller: "flatpickr",
                      flatpickr_date_format: "Y-m-d"
                    } %>
              </div>
            </div>
            <div>
              <%= f.label :people_involved %>
              <%= f.text_field :people_involved_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :data_type_id %>
              <%= f.collection_select :data_type_id_eq, @data_type, :id, :name, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <div>
              <%= f.label "Incomplete records" %>
              <%= f.check_box :incomplete_true %>
            </div>
          </div>
        </div>

        <div class="border">
          <div class="mx-2 mb-1">
            <div>
              <%= f.label :equipment_involved %>
              <%= f.text_field :equipment_involved_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :remediation_steps %>
              <%= f.text_field :remediation_steps_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div class="flex items-end">
              <div class="flex-1 w-1/2">
                <%= f.label :estimated_financial_cost %>
                <%= f.text_field :estimated_financial_cost_gteq, placeholder: "From", class: 'form-control' %>
              </div>
              <div class="ml-1 flex-1 w-1/2">
                <%= f.text_field :estimated_financial_cost_lteq, placeholder: "To", class: 'form-control' %>
              </div>
            </div>
            <div>
              <%= f.label :notes %>
              <%= f.text_field :notes_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="mt-2 col-span-2 flex justify-start">
          <div class="mr-2">
            <%= f.submit 'Search', data: { disable_with: false }, class: '' %>
          </div>
          <div>
            <button type="button" class="filter-clear-btn"
              data-action='click->filters#clearFilters'>
              Clear
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
  <%= render partial: "it_security_incidents/listing" %>
</div>