<% if @it_security_incident.incomplete %>
  <%= render 'partials/incomplete' %>
<% end %>

<div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
  <div class="text-lg leading-6 font-medium text-gray-900">
    <%= @it_security_incident.display_name %>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        IT Security Incident details.
      </p>
  </div>
  <div class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <span class="flex-grow"></span>
    <span class="ml-4 flex-shrink-0">
      <ul>
        <% if policy(@it_security_incident).edit? %>
          <li class= "action-link"><%= link_to 'Edit', edit_it_security_incident_path(@it_security_incident) %></li>
        <% end %>
        <% if policy(@it_security_incident).archive? %>
          <li class= "action-link"><%= link_to 'Archive', archive_it_security_incident_path(@it_security_incident),  method: :post, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
        <% if policy(@it_security_incident).audit_log? %>
          <li class= "action-link"><%= link_to 'Audit', it_security_incident_audit_log_path(@it_security_incident) %></li>
        <% end %>
      </ul>
    </span>
  </div>
</div>

<div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
  <dt class="text-sm font-medium text-gray-500">
    Title
  </dt>
  <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <span class="flex-grow"><%= @it_security_incident.title %></span>
  </dd>
</div>
<div class="mt-5 border-t border-gray-200">
  <dl class="divide-y divide-gray-200">
    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Date:
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_date(@it_security_incident.date) %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        People involved
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @it_security_incident.people_involved %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Equipment involved
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @it_security_incident.equipment_involved %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Remediation Steps
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @it_security_incident.remediation_steps %></span>
      </dd>
    </div>
  
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Estimated Financial Cost
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= number_to_currency(@it_security_incident.estimated_financial_cost, precision: 0) %></span>
      </dd>
    </div>
  
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Notes
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @it_security_incident.notes %></span>
      </dd>
    </div>
  
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        IT Security Incident Status
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_it_security_incident_status(@it_security_incident) %></span>
      </dd>
    </div>
  
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Data Type
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_data_type_name(@it_security_incident) %></span>
      </dd>
    </div>
  
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <%= render partial: "tdx_tickets/tdx_tickets", locals: { tdx_ticket_resource: @it_security_incident } %>
    </div>
    
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <%= render partial: "partials/show_attachments", locals: { attached_files_resource: @it_security_incident } %>
    </div>

  </dl>
</div>