<p>
<% if @it_security_incident.incomplete %>
  <strong>This record is incomplete!!!!!</strong>
  <% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @it_security_incident.date %>
</p>

<p>
  <strong>People involved:</strong>
  <%= @it_security_incident.people_involved %>
</p>

<p>
  <strong>Equipment involved:</strong>
  <%= @it_security_incident.equipment_involved %>
</p>

<p>
  <strong>Remediation steps:</strong>
  <%= @it_security_incident.remediation_steps %>
</p>

<p>
  <strong>Estimated finacial cost:</strong>
  <%= @it_security_incident.estimated_finacial_cost %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @it_security_incident.notes %>
</p>

<p>
  <strong>It security incident status:</strong>
  <%= @it_security_incident.it_security_incident_status_id %>
</p>

<p>
  <strong>Data type:</strong>
  <%= @it_security_incident.data_type_id %>
</p>

<%= render partial: "partials/show_attachments", locals: {attached_files: @it_security_incident} %>

<%= render partial: "tdx_tickets/tdx_tickets", locals: {record_to_tdx: @it_security_incident, destroy_p: "it_security_incident"} %>
<%= render partial: "tdx_tickets/form", locals: {record_to_tdx: @it_security_incident} %>

<%= link_to 'Edit', edit_it_security_incident_path(@it_security_incident) %> |
<%= link_to 'Back', it_security_incidents_path %>
