<%= form_with(model: @dpa_exception, local: true) do |form| %>
  <%= render "partials/errors", object: @dpa_exception %>

  <div class="form-container">
    <div class="form-instruction">
      <h3 class="instruction-header">
        Form Instructions
      </h3>
      <p>
        <%== @form_instruction %>
      </p>
    </div>

    <div class="field-container">
      <div class="field">
        <%= form.label :review_date_exception_first_approval_date %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <i class="fas fa-calendar-day text-gray-400"></i>
            </div>
            <%= form.text_field :review_date_exception_first_approval_date,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: Time.zone.now
              },
              required: true
            %>
        </div>
      </div>

      <div class="field">
        <%= form.label :dpa_exception_status_id, "Status" %>
        <%= form.collection_select :dpa_exception_status_id, DpaExceptionStatus.all, :id, :name, {include_blank: "Select"}, required: true %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :third_party_product_service %>
        <%= form.text_area :third_party_product_service, required: true %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :used_by%>
        <%= form.text_field :used_by, required: true %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :point_of_contact %>
        <%= form.text_field :point_of_contact %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :review_findings %>
        <%= form.text_area :review_findings %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :review_summary %>
        <%= form.text_area :review_summary %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :lsa_security_recommendation, "LSA security recommendation" %>
        <%= form.text_area :lsa_security_recommendation %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :lsa_security_determination, "LSA security determination" %>
        <%= form.text_area :lsa_security_determination %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :lsa_security_approval, "LSA security approval"%>
        <%= form.text_field :lsa_security_approval %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :lsa_technology_services_approval, "LSA technology services approval" %>
        <%= form.text_field :lsa_technology_services_approval %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label 'Last Reviewed Date' %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <i class="fas fa-calendar-day text-gray-400"></i>
            </div>
            <%= form.text_field :exception_approval_date_exception_renewal_date_due,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: Time.zone.now
              }
            %>
        </div>
      </div>

      <div class="field">
        <%= form.label 'Next Review Due Date' %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <i class="fas fa-calendar-day text-gray-400"></i>
            </div>
            <%= form.text_field :review_date_exception_review_date,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: Time.zone.now
              }
            %>
        </div>
      </div>

      <div class="field">
        <%= form.label :notes %>
        <%= form.text_area :notes %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :data_type_id %>
        <%= form.collection_select :data_type_id, DataType.all, :id, :name, {include_blank: "Select"}   %>
      </div>

      <div class="field">
        <%= form.fields_for @dpa_exception.tdx_tickets.new do |f| %>
          <%= f.label :ticket_link, "Add a TDX ticket link" %>
          <%= f.text_field :ticket_link %>
        <% end %>
        <% if @dpa_exception.tdx_tickets.present? %>
          <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">
              TDX tickets connected to this record: 
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <% @dpa_exception.tdx_tickets.each do |tdx| %>
                  <% if tdx.persisted? %>
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                      <div class="w-0 flex-1 flex items-center">
                        <i class="fas fa-link text-gray-400"></i>
                        <span class="ml-2 flex-1 w-0 truncate">
                          <%= link_to tdx.ticket_link, url_for(tdx.ticket_link) %>
                        </span>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </dd>
          </div>
        <% end %>
      </div>

      <div id="sla_agreement_file" class="field">
        <%= form.label :sla_agreement, "SLA Agreement" %>
        <%= form.text_field :sla_agreement %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :sla_attachment, "SLA Agreement File" %>
        <%= form.file_field :sla_attachment %>
        <p class="help-text">Selecting a file will replace the currently attached file!</p>
        <% if @dpa_exception.sla_attachment.attached? %>
          <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">
              SLA Agreement currently connected to this record: 
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                  <div class="w-0 flex-1 flex items-center">
                    <i class="fas fa-paperclip text-gray-400"></i>
                    <span class="ml-2 flex-1 w-0 truncate">
                      <%= link_to @dpa_exception.sla_attachment.filename, url_for(@dpa_exception.sla_attachment) %>
                    </span>
                  </div>
                </li>
              </ul>
            </dd>
          </div>
        <% end %>
      </div>

      <div id="attached_files" class="field">
        <%= form.label :attachments %>
        <%= form.file_field :attachments, multiple: true %>
        <% if @dpa_exception.attachments.attached? %>
          <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">
              Other files currently connected to this record:
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <% @dpa_exception.attachments.each do |ma| %>
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                      <i class="fas fa-paperclip text-gray-400"></i>
                      <span class="ml-2 flex-1 w-0 truncate">
                        <%= link_to ma.filename, url_for(ma) %>
                      </span>
                      <% unless ma.id.nil? %>
                        <span class="text-gray-300" aria-hidden="true">|</span>
                        <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                          <%= link_to 'Remove', delete_file_path(ma), data: { confirm: "Are sure you?" } %>
                        </button>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </dd>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
