<%= form_with(model: @dpa_exception, local: true, data: {turbo: "false"}) do |form| %>
  <%= render "partials/errors", object: @dpa_exception %>
  <div class="form-container">
    <% if @dpa_exception_form_text.present? %>
      <div>
        <h3 class="instruction-header">
          Form Instructions
          <span class="text-sm">
            <% if policy(Infotext).edit? %>
              <%= link_to edit_infotext_path(@dpa_exception_form_text) do %>
                <i class="far fa-edit text-laitan_blue hover:text-um_blue" aria-hidden="true" title="Edit infotext area"></i>
        <span class="sr-only">Edit infotext area</span>
              <% end %>
            <% end %>
          </span>
        </h3>
        <%= render partial: 'partials/info_form_toggler', locals: { infoform_resource: @dpa_exception_form_text } %>
      </div>
    <% end %>

    <div class="field-container">
      <div class="field">
        <%= form.label :review_date_exception_first_approval_date, class: "required" %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <i class="fas fa-calendar-day text-gray-400"></i>
            </div>
            <%= form.text_field :review_date_exception_first_approval_date,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: 20.year.ago
              },
              required: true
            %>
        </div>
        <p class="help-text">Date the product/service was first approved</p>
      </div>

      <div class="field">
        <%= form.label :dpa_exception_status_id, "Status", class: "required"  %>
        <%= form.collection_select :dpa_exception_status_id, DpaExceptionStatus.all, :id, :name, {include_blank: "Select"}, required: true %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :third_party_product_service, class: "required"  %>
        <%= form.text_field :third_party_product_service, required: true %>
        <p class="help-text">Name of the tool being reviewed</p>
      </div>

      <div class="field">
        <%= form.label :department_id, "Department", class: "required"  %>
        <%= form.collection_select :department_id, @departments_list, :id, :name, {include_blank: "Select"}, required: true %>
        <p class="help-text">LSA department using this tool</p>
      </div>

      <div class="field">
        <%= form.label :point_of_contact %>
        <%= form.text_field :point_of_contact %>
        <p class="help-text">Point of contact within the LSA department using this tool</p>
      </div>

      <div class="field">
        <%= form.label :review_findings %>
        <%= form.rich_text_area :review_findings %>
        <p class="help-text">List of all security-related facts found while performing the review</p>
      </div>

      <div class="field">
        <%= form.label :review_summary %>
        <%= form.rich_text_area :review_summary %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :lsa_security_recommendation, "LSA security recommendation" %>
        <%= form.rich_text_area :lsa_security_recommendation %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :lsa_security_determination, "LSA security determination" %>
        <%= form.rich_text_area :lsa_security_determination %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :lsa_security_approval, "LSA security approval"%>
        <%= form.text_field :lsa_security_approval %>
        <p class="help-text">Name of LSA Security team member who approves this exception</p>
      </div>

      <div class="field">
        <%= form.label :lsa_technology_services_approval, "LSA technology services approval" %>
        <%= form.text_field :lsa_technology_services_approval %>
        <p class="help-text">Name of LSA Technology Services manager/director who approves this exception</p>
      </div>

      <div class="field">
        <%= form.label 'Last Reviewed Date' %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <i class="fas fa-calendar-day text-gray-400"></i>
            </div>
            <%= form.text_field :exception_approval_date_exception_renewal_date_due,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: 20.year.ago
              }
            %>
        </div>
      </div>

      <div class="field">
        <%= form.label 'Next Review Due Date' %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <i class="fas fa-calendar-day text-gray-400"></i>
            </div>
            <%= form.text_field :review_date_exception_review_date,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: 20.year.ago
              }
            %>
        </div>
      </div>

      <div class="field">
        <%= form.label :notes %>
        <%= form.rich_text_area :notes %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :data_type_id %>
        <%= form.collection_select :data_type_id, DataType.all, :id, :name, {include_blank: "Select"}   %>
      </div>

      <div class="field">
        <%= form.fields_for @dpa_exception.tdx_tickets.new do |f| %>
          <%= f.label :ticket_link, "Add a TDX ticket URL link" %>
          <%= f.text_field :ticket_link %>
        <% end %>
        <% if @dpa_exception.tdx_tickets.present? %>
          <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">
              TDX tickets connected to this record: 
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <% @dpa_exception.tdx_tickets.each do |tdx| %>
                  <% if tdx.persisted? %>
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                      <div class="w-0 flex-1 flex items-center">
                        <i class="fas fa-link text-gray-400"></i>
                        <span class="ml-2 flex-1 w-0 truncate">
                          <%= link_to tdx.ticket_link, url_for(tdx.ticket_link), target: "_blank" %>
                        </span>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </dd>
          </div>
        <% end %>
      </div>

      <div id="attached_files" class="field">
        <%= form.label :attachments, "Attachments (pdf,txt,jpg,png,doc,xls,zip)" %>
        <%= form.file_field :attachments, multiple: true %>
        <% if @dpa_exception.attachments.attached? %>
          <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">
              Other files currently connected to this record:
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <% @dpa_exception.attachments.each do |ma| %>
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                      <i class="fas fa-paperclip text-gray-400"></i>
                      <span class="ml-2 flex-1 w-0 truncate">
                        <%= link_to ma.filename, url_for(ma), target: "_blank" %>
                      </span>
                      <% unless ma.id.nil? %>
                        <span class="text-gray-300" aria-hidden="true">|</span>
                        <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                          <%= link_to 'Remove', delete_file_path(ma), data: { confirm: "Are sure you?" } %>
                        </button>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </dd>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
