<div id="dpa_exceptionListing">
  <div>
    <!-- Display number of item per page -->
    <%== pagy_items_selector_js(@pagy, item_name: 'Record'.pluralize(@pagy.count)) %>
  </div>
  <span>
      Total number of records: <%= "#{@pagy.count}" %>
  </span>

  <div class="mt-1 flex justify-end sm:mt-0">
    <span class="ml-4 flex-shrink-0">
      <div role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
        <%= link_to 'Export to CSV', dpa_exceptions_path(params.merge(format: 'csv', q: params[:q]).permit!), class: "new-record-btn" %>
      </div>
    </span>
  </div>

    
  <div class="flex flex-nowrap justify-center">
    <div class="fixed_header_container">
      <table class="fixed_header">

        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col"><%= sort_link(@q, :dpa_exception_status_id, 'Status') %></th>
            <th scope="col"><%= sort_link(@q, :review_date_exception_first_approval_date, 'Initial review date') %></th>
            <th scope="col"><%= sort_link(@q, :third_party_product_service, 'Third party product service', default_order: :desc) %></th>
            <th scope="col"><%= sort_link(@q, :department_id, 'Department used by', default_order: :desc) %></th>
            <th scope="col"><%= sort_link(@q, :data_type_id, 'Data type', default_order: :desc) %></th>
            <th scope="col"><%= sort_link(@q, :exception_approval_date_exception_renewal_date_due, 'Last Reviewed Date') %></th>
            <th scope="col"><%= sort_link(@q, :review_date_exception_review_date, 'Next Review Due Date') %></th>
          </tr>
        </thead>

        <tbody>
          <% @dpa_exceptions.each do |dpa_exception| %>
            <tr>
              <td>
                <ul>
                  <li><%= link_to 'Show', dpa_exception, class: "action-link" %></li>
                  <% if policy(dpa_exception).edit? %>
                    <li><%= link_to 'Edit', edit_dpa_exception_path(dpa_exception), class: "action-link" %></li>
                  <% end %>
                  <% if policy(dpa_exception).archive? %>
                    <li><%= link_to 'Archive', archive_dpa_exception_path(dpa_exception), class: "action-link",  method: :post, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                  <% if policy(dpa_exception).audit_log? %>
                    <li><%= link_to 'Audit', dpa_exception_audit_log_path(dpa_exception), class: "action-link" %></li>
                  <% end %>
                </ul>
              </td> 
              <td><%= show_dpa_exception_status(dpa_exception) %></td>
              <td><%= show_date(dpa_exception.review_date_exception_first_approval_date) %></td>
              <td><%= dpa_exception.third_party_product_service %></td>
              <td><%= show_department_name(dpa_exception) %></td>
              <td><%= show_data_type_name(dpa_exception) %></td>
              <td><%= show_date(dpa_exception.exception_approval_date_exception_renewal_date_due) %></td>
              <td><%= show_date(dpa_exception.review_date_exception_review_date) %></td>
            </tr>
          <% end %>
          <!-- Blank state -->
          <% if @dpa_exceptions.empty? %>
            <tr>
              <td><em>No matching DPA Exceptions</em></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render partial: "partials/pagination", locals: { pagy: @pagy } %>
</div>
