<div id="dpa_exceptionListing">
  <span>
      Total number of records: <%= "#{@total}" %>
  </span>

  <div class="flex flex-nowrap justify-center">
    <div class="fixed_header_container">
      <table class="fixed_header">

        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col"><%= sort_link(@q, :dpa_status, 'Status') %></th>
            <th scope="col"><%= sort_link(@q, :review_date_exception_first_approval_date, 'Review date exception first approval date') %></th>
            <th scope="col"><%= sort_link(@q, :third_party_product_service, 'Third party product service', default_order: :desc) %></th>
            <th scope="col"><%= sort_link(@q, :used_by, 'Used by', default_order: :desc) %></th>
            <th scope="col"><%= sort_link(@q, :data_type_id, 'Data type', default_order: :desc) %></th>
            <th scope="col"><%= sort_link(@q, :exception_approval_date_exception_renewal_date_due, 'Last Reviewed Date') %></th>
            <th scope="col"><%= sort_link(@q, :review_date_exception_review_date, 'Next Review Due Date') %></th>
          </tr>
        </thead>

        <tbody>

            <% @dpa_exceptions.each do |dpa_exception| %>
            <tr>
                <td>
                <ul>
                    <li><%= link_to 'Show', dpa_exception, class: "action-link" %></li>
                    <% if has_ad_access?(current_user, "dpa_exceptions", "newedit_action") %>
                    <li><%= link_to 'Edit', edit_dpa_exception_path(dpa_exception), class: "action-link" %></li>
                    <% end %>
                    <% if has_ad_access?(current_user, "dpa_exceptions", "archive_action") %>
                    <li><%= link_to 'Archive', archive_dpa_exception_path(dpa_exception), class: "action-link",  method: :post, data: { confirm: 'Are you sure?' } %></li>
                    <% end %>
                    <% if has_ad_access?(current_user, "dpa_exceptions", "audit_action") %>
                    <li><%= link_to 'Audit', dpa_exception_audit_log_path(dpa_exception), class: "action-link" %></li>
                    <% end %>
                </ul>
                </td> 
                <td><%= dpa_exception.dpa_status.titleize %></td>
                <td><%= show_date(dpa_exception.review_date_exception_first_approval_date) %></td>
                <td><%= dpa_exception.third_party_product_service %></td>
                <td><%= dpa_exception.used_by %></td>
                <td><%= show_data_type_name(dpa_exception) %></td>
                <td><%= show_date(dpa_exception.exception_approval_date_exception_renewal_date_due) %></td>
                <td><%= show_date(dpa_exception.review_date_exception_review_date) %></td>
            </tr>
            <% end %>


          <!-- Blank state -->
          <% if @dpa_exceptions.empty? %>
            <tr>
              <td><em>No matching dpa_exceptions</em></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render partial: "partials/pagination", locals: { pagy: @pagy } %>
</div>
