<p id="notice"><%= notice %></p>

<h3>DPA Exceptions Audit Log</h3>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>When</th>
      <th>Who(user_id)</th>
      <th>What changed</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dpa_exception.audits.all.order(:created_at).each do | audit| %>
        <tr>
        <td><%= audit.action %></td>
        <td><%= audit.created_at %></td>
        <% if User.find_by(id: audit.user_id).present? %>
            <td><%= User.find_by(id: audit.user_id).username %></td>
        <% else %> 
            <td><%= audit.user_id %></td>
        <% end %>
        <td>
            <% audit.audited_changes.each do |k, v| %>
                <%= k.titleize %>
                <% if v.is_a? Array %>
                    <% if k == "data_type_id" %>
                        <strong>from:</strong> <%= DataType.find(v[0]).name %>
                        <strong>to:</strong> <%= DataType.find(v[1]).name %>
                    <% else %>
                        <strong>from:</strong> <%= v[0] %>
                        <strong>to:</strong> <%= v[1] %>
                    <% end %>
                <% else %>
                    <strong>to:</strong> <%= v %>
                <% end %>
                <br>
            <% end %>
        </td>
        </tr><tr><td></td>
    <% end %>
</tbody>
</table>
 