<p id="notice"><%= notice %></p>

<h3>DPA Exceptions Audit Log</h3>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>When</th>
      <th>Who(user_id)</th>
      <th>What changed</th>
      <th>IP Address</th>
    </tr>
  </thead>

  <tbody>
    <% @dpa_item_audit_log.each do | audit| %>
        <tr>
          <td class="audit_table"><%= audit.action %></td>
          <td class="audit_table"><%= audit.created_at.strftime('%c - %Z') %></td>
          <td class="audit_table"><%= user_name_email(audit.user_id) %></td>
          <td class="audit_table">
              <% audit.audited_changes.each do |k, v| %>
                  <%= k.titleize %>
                  <% if v.is_a? Array %>
                      <strong>from:</strong> <%= v[0] %>
                      <strong>to:</strong> <%= v[1] %>
                  <% else %>
                      <strong>to:</strong> <%= v %>
                  <% end %>
                  <br>
              <% end %>
          </td>
          <td class="audit_table"><%= audit.remote_address %></td>
        </tr>
    <% end %>
</tbody>
</table>
 