<h1>DPA Exceptions</h1>

<div class="py-2 sm:grid sm:grid-cols-5 sm:gap-4 border-b border-laitan_blue">
  <div class="sm:col-span-4">
    <div class="index-instructions">
      <%= @dpa_exception_index_text.content.to_plain_text.truncate(100, omission: '(... see more)') %>
    </div>
    <div>
      <% if policy(Infotext).edit? %>
        <%= link_to edit_infotext_path(@dpa_exception_index_text) do %>
          <i class="far fa-edit text-laitan_blue"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mt-1 flex justify-end sm:mt-0">
    <span class="ml-4 flex-shrink-0">
      <% if policy(@dpa_exceptions).new?  %>
        <div role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
          <%= link_to 'New DPA Exception', new_dpa_exception_path, class: "new-record-btn" %>
        </div>
      <% end %>
    </span>
  </div>
</div>

<div data-controller='toggle' class="filter-area m-2">
  <button type="button" class="new-record-btn"
    data-action='click->toggle#toggle touch->toggle#toggle' >
  Filters
  </button>
  
  <div data-toggle-target='toggleable' class="filter-selections bg-yellow-50 shadow p-2 m-4 hidden">
    <%= search_form_for @q, class: "filter-form",
      data:{ controller: "filters"} do |f| %>
      <div class="grid grid-cols-2">

        <div class="col-span-2 mb-4 flex justify-start">
          <p>Group searching conditions by:</p>
          <div class="ml-4">
            <%= f.radio_button :m, 'and', :checked => true %>
            <%= f.label :m, 'and', value: 'and' %>
          </div>
          <div class="ml-4">
            <%= f.radio_button :m, 'or' %>
            <%= f.label :m, 'or', value: 'or' %>
          </div>
        </div>

        <div class="border">
          <div class="mx-2 mb-1">
            <div>
              <%= f.label :dpa_status, "Status" %>
              <%= f.collection_select :dpa_exception_status_id_eq, @dpa_status, :id, :name, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <div class="flex items-end">
              <div class="flex-1 w-1/2">
                <%= f.label "Initial review date" %>
                <%= f.text_field :review_date_exception_first_approval_date_gteq, placeholder: "From",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
              <div class="ml-1 flex-1 w-1/2">
                <%= f.text_field :review_date_exception_first_approval_date_lteq, placeholder: "To",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
            </div>
            <div>
              <%= f.label :third_party_product_service %>
              <%= f.text_field :third_party_product_service_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :department_id, "Department used by"  %>
              <%= f.collection_select :department_id_eq, @department, :id, :name, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :data_type_id %>
              <%= f.collection_select :data_type_id_eq, @data_type, :id, :name, include_blank: "Select ...", class: 'form-control' %>
              <%= f.label :data_type_id_blank %>
              <%= f.check_box :data_type_id_blank %>
            </div>
            <div class="flex items-end">
              <div class="flex-1 w-1/2">
                <%= f.label "Last Reviewed Date" %>
                <%= f.text_field :exception_approval_date_exception_renewal_date_due_gteq, placeholder: "From",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
              <div class="ml-1 flex-1 w-1/2">
                <%= f.text_field :exception_approval_date_exception_renewal_date_due_lteq, placeholder: "To",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
            </div>
            <div class="flex items-end">
              <div class="flex-1 w-1/2">
                <%= f.label "Next Review Due Date" %>
                <%= f.text_field :review_date_exception_review_date_gteq, placeholder: "From",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
              <div class="ml-1 flex-1 w-1/2">               
                <%= f.text_field :review_date_exception_review_date_lteq, placeholder: "To",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
            </div>
            <div>
              <%= f.label "Incomplete records" %>
              <%= f.check_box :incomplete_true %>
            </div>
          </div>
        </div>

        <div class="border">
          <div class="mx-2 mb-1">
            <div>
              <%= f.label :point_of_contact %>
              <%= f.text_field :point_of_contact_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :review_findings %>
              <%= f.text_field :review_findings_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :review_summary %>
              <%= f.text_field :review_summary_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :lsa_security_recommendation, "LSA security recommendation" %>
              <%= f.text_field :lsa_security_recommendation_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :lsa_security_determination, "LSA security determination" %>
              <%= f.text_field :lsa_security_determination_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :lsa_security_approval, "LSA security approval" %>
              <%= f.text_field :lsa_security_approval_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :lsa_technology_services_approval, "LSA technology services approval" %>
              <%= f.text_field :lsa_technology_services_approval_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :notes %>
              <%= f.text_field :notes_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="mt-2 col-span-2 flex justify-start">
          <div class="mr-2">
            <%= f.submit 'Search', data: { disable_with: false }, class: '' %>
          </div>
          <div>
            <button type="button" class="filter-clear-btn"
              data-action='click->filters#clearFilters'>
              Clear
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
  <%= render partial: "dpa_exceptions/listing" %>
</div>
