<h1>Dpa Exceptions</h1>

<p class="text-gray-500 text-sm mx-4">
  DPA exceptions - Data Protection Addendums (<%= link_to 'https://it.umich.edu/information-technology-policies/general-policies/DS-20' %>)
</p>

<div data-controller='toggle' class="m-2">
  <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    data-action='click->toggle#toggle touch->toggle#toggle' >
  Filters
  </button>
  
  <div data-toggle-target='toggleable' class="m-4 hidden">
    <div class="form-container">
      <div class="field-container">
        <%= search_form_for @q, 
          data:{ controller: "filters"} do |f| %>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            
            <%= f.label "Group searching conditions by:" %>
            <div class="w-1/3 pl-2">
              <%= f.radio_button :m, 'and', :checked => true %>
              <%= f.label :m, 'and', value: 'and' %>
              <%= f.radio_button :m, 'or' %>
              <%= f.label :m, 'or', value: 'or' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :dpa_status %>
            <div class="w-1/2 pl-2">
              <%= f.select :dpa_status_eq, @dpa_status, include_blank: "Select ...", placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :review_date_exception_first_approval_date %>
            <div class="w-1/3 pr-4 pl-2">
              <%= f.text_field :review_date_exception_first_approval_date_gteq, placeholder: "From",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>

            <div class="w-1/3">
              <%= f.text_field :review_date_exception_first_approval_date_lteq, placeholder: "To",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :third_party_product_service %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :third_party_product_service_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :used_by %>
            <div class="w-1/2 pl-2">
              <%= f.select :used_by_eq, @used_by, include_blank: "Select ...", placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :point_of_contact %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :point_of_contact_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :review_findings %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :review_findings_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :review_summary %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :review_summary_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :lsa_security_recommendation %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :lsa_security_recommendation_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :lsa_security_determination %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :lsa_security_determination_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>

          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :lsa_security_approval %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :lsa_security_approval_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :lsa_technology_services_approval %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :lsa_technology_services_approval_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>

          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :exception_approval_date_exception_renewal_date_due %>
            <div class="w-1/3 pr-4 pl-2">
              <%= f.text_field :exception_approval_date_exception_renewal_date_due_gteq, placeholder: "From",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>

            <div class="w-1/3">
              <%= f.text_field :exception_approval_date_exception_renewal_date_due_lteq, placeholder: "To",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :review_date_exception_review_date %>
            <div class="w-1/3 pr-4 pl-2">
              <%= f.text_field :review_date_exception_review_date_gteq, placeholder: "From",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>

            <div class="w-1/3">
              <%= f.text_field :review_date_exception_review_date_lteq, placeholder: "To",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :notes %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :notes_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            data-action='click->filters#clearFilters'>
            Clear
          </button>
          <%= f.submit 'Search', data: { disable_with: false }, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>  
</div>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <% if has_ad_access?(current_user, "dpa_exceptions", "newedit_action") %>
    <div class="btn-new btn-blue" role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
      <%= link_to 'New Dpa Exception', new_dpa_exception_path %>
    </div>
  <% end %>
  <%= render partial: "dpa_exceptions/listing" %>
</div>
