<h1>DPA Exceptions</h1>

<div class="py-2 sm:grid sm:grid-cols-5 sm:gap-4">
  <div class="sm:col-span-4">
    <div class="index-instruction p-2">
      <%= @dpa_exception_index_text.content %>
    </div>
    <div>
      <% if policy(Infotext).edit? %>
        <%= link_to 'Edit', edit_infotext_path(@dpa_exception_index_text), class: "action-link" %>
      <% end %>
    </div>
  </div>
  <div class="mt-1 flex justify-end sm:mt-0">
    <span class="ml-4 flex-shrink-0">
      <% if policy(@dpa_exceptions).new?  %>
        <div role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
          <%= link_to 'New DPA Exception', new_dpa_exception_path, class: "new-record-btn" %>
        </div>
      <% end %>
    </span>
  </div>
</div>  

<div data-controller='toggle' class="m-2">
  <button type="button" class="new-record-btn"
    data-action='click->toggle#toggle touch->toggle#toggle' >
  Filters
  </button>
  
  <div data-toggle-target='toggleable' class="m-4 hidden">
    <div class="form-container">
      <div class="field-container">
        <%= search_form_for @q, 
          data:{ controller: "filters"} do |f| %>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label "Group searching conditions by:" %>
            <div class="pl-4">
              <%= f.radio_button :m, 'and', :checked => true %>
              <%= f.label :m, 'and', value: 'and' %>
            </div>
            <div class="pl-4">
              <%= f.radio_button :m, 'or' %>
              <%= f.label :m, 'or', value: 'or' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :dpa_status, "Status" %>
            <div class="w-1/2 pl-2">
              <%= f.collection_select :dpa_exception_status_id_eq, @dpa_status, :id, :name, include_blank: "Select ...", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :review_date_exception_first_approval_date %>
            <div class="w-1/3 pr-4 pl-2">
              <%= f.text_field :review_date_exception_first_approval_date_gteq, placeholder: "From",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>

            <div class="w-1/3">
              <%= f.text_field :review_date_exception_first_approval_date_lteq, placeholder: "To",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :third_party_product_service %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :third_party_product_service_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :used_by %>
            <div class="w-1/2 pl-2">
              <%= f.select :used_by_eq, @used_by, include_blank: "Select ...", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :point_of_contact %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :point_of_contact_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :review_findings %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :review_findings_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :review_summary %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :review_summary_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :lsa_security_recommendation, "LSA security recommendation" %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :lsa_security_recommendation_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :lsa_security_determination, "LSA security determination" %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :lsa_security_determination_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>

          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :lsa_security_approval, "LSA security approval" %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :lsa_security_approval_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :lsa_technology_services_approval, "LSA technology services approval" %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :lsa_technology_services_approval_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>

          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label "Last Reviewed Date" %>
            <div class="w-1/3 pr-4 pl-2">
              <%= f.text_field :exception_approval_date_exception_renewal_date_due_gteq, placeholder: "From",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>

            <div class="w-1/3">
              <%= f.text_field :exception_approval_date_exception_renewal_date_due_lteq, placeholder: "To",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label "Next Review Due Date" %>
            <div class="w-1/3 pr-4 pl-2">
              <%= f.text_field :review_date_exception_review_date_gteq, placeholder: "From",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>

            <div class="w-1/3">
              <%= f.text_field :review_date_exception_review_date_lteq, placeholder: "To",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :notes %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :notes_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :data_type_id %>
            <div class="w-1/3 pr-4 pl-2">
              <%= f.collection_select :data_type_id_eq, @data_type, :id, :name, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <%= f.label :data_type_id_blank %>
            <div class="w-1/3 pl-2">
              <%= f.check_box :data_type_id_blank %>
            </div>
          </div>

          <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            data-action='click->filters#clearFilters'>
            Clear
          </button>
          <%= f.submit 'Search', data: { disable_with: false }, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>  
</div>

<div>
  <%= render partial: "dpa_exceptions/listing" %>
</div>
