<% if @dpa_exception.incomplete %>
  <%= render 'partials/incomplete' %>
<% end %>

<div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
  <div class="text-lg leading-6 font-medium text-gray-900">
    <%= @dpa_exception.display_name %>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        DPA Exception details.
      </p>
  </div>
  <div class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <span class="flex-grow"></span>
    <span class="ml-4 flex-shrink-0">
      <ul>
        <% if policy(@dpa_exception).edit? %>
          <li class= "action-link"><%= link_to 'Edit', edit_dpa_exception_path(@dpa_exception) %></li>
        <% end %>
        <% if policy(@dpa_exception).archive? %>
          <li class= "action-link"><%= link_to 'Archive', archive_dpa_exception_path(@dpa_exception),  method: :post, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
        <% if policy(@dpa_exception).audit_log? %>
          <li class= "action-link"><%= link_to 'Audit', dpa_exception_audit_log_path(@dpa_exception) %></li>
        <% end %>
      </ul>
    </span>
  </div>
</div>

<div class="mt-5 border-t border-gray-200">
<dl class="divide-y divide-gray-200">
  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      Status
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= show_dpa_exception_status(@dpa_exception) %></span>
    </dd>
  </div>
  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
       Initial review date
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= show_date(@dpa_exception.review_date_exception_first_approval_date) %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
       Department used by
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= show_department_name(@dpa_exception) %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      Point of contact
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= @dpa_exception.point_of_contact %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      Review findings
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= @dpa_exception.review_findings %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      Review summary
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= @dpa_exception.review_summary %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      LSA security recommendation
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= @dpa_exception.lsa_security_recommendation %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      LSA security determination
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= @dpa_exception.lsa_security_determination %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      LSA security approval
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= @dpa_exception.lsa_security_approval %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      LSA technology services approval
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= @dpa_exception.lsa_technology_services_approval %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      Last Reviewed Date
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= show_date(@dpa_exception.exception_approval_date_exception_renewal_date_due) %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      Next Review Due Date
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= show_date(@dpa_exception.review_date_exception_review_date) %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      Notes
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= @dpa_exception.notes %></span>
    </dd>
  </div>
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium text-gray-500">
      Data type
    </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= show_data_type_name(@dpa_exception) %></span>
    </dd>
  </div>
  
  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <%= render partial: "tdx_tickets/tdx_tickets", locals: { tdx_ticket_resource: @dpa_exception } %>
  </div>

  <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
    <%= render partial: "partials/show_attachments", locals: { attached_files_resource: @dpa_exception } %>
  </div>
</dl>
</div>