<p id="notice"><%= notice %></p>

<p>
  <strong>Review date:</strong>
  <%= @dpa_exception.review_date %>
</p>

<p>
  <strong>Third party product service:</strong>
  <%= @dpa_exception.third_party_product_service %>
</p>

<p>
  <strong>Used by:</strong>
  <%= @dpa_exception.used_by %>
</p>

<p>
  <strong>Point of contact:</strong>
  <%= @dpa_exception.point_of_contact %>
</p>

<p>
  <strong>Review findings:</strong>
  <%= @dpa_exception.review_findings %>
</p>

<p>
  <strong>Review summary:</strong>
  <%= @dpa_exception.review_summary %>
</p>

<p>
  <strong>Lsa security recommendation:</strong>
  <%= @dpa_exception.lsa_security_recommendation %>
</p>

<p>
  <strong>Lsa security determination:</strong>
  <%= @dpa_exception.lsa_security_determination %>
</p>

<p>
  <strong>Lsa security approval:</strong>
  <%= @dpa_exception.lsa_security_approval %>
</p>

<p>
  <strong>Lsa technology services approval:</strong>
  <%= @dpa_exception.lsa_technology_services_approval %>
</p>

<p>
  <strong>Exception approval date:</strong>
  <%= @dpa_exception.exception_approval_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @dpa_exception.notes %>
</p>

<p>
  <strong>Sla agreement:</strong>
  <%= @dpa_exception.sla_agreement %>
</p>

<% if @dpa_exception.sla_attachment.attached? %>
  <p class="current-uploaded-docs">
    <strong>Sla Attachment:</strong> <%= link_to @dpa_exception.sla_attachment.filename, url_for(@dpa_exception.sla_attachment) %>
  </p>
<% else %>
  <p class="text-lg text-orange-500">
    Use the <%= link_to 'Edit', edit_dpa_exception_path(@dpa_exception) %> button to add a sla_attachment!
  </p>
<% end %>


<p>
  <strong>Data type:</strong>
  <%= @dpa_exception.data_type_id %>
</p>

<% if @dpa_exception.attachment.attached? %>
  <p class="current-uploaded-docs">
    <strong>Sla Attachment:</strong> <%= link_to @dpa_exception.attachment.filename, url_for(@dpa_exception.attachment) %>
  </p>
<% else %>
  <p class="text-lg text-orange-500">
    Use the <%= link_to 'Edit', edit_dpa_exception_path(@dpa_exception) %> button to add a attachment!
  </p>
<% end %>

<%= link_to 'Edit', edit_dpa_exception_path(@dpa_exception) %> |
<%= link_to 'Back', dpa_exceptions_path %>
