<p>
  <strong>Review date exception first approval date:</strong>
  <%= @dpa_exception.review_date_exception_first_approval_date %>
</p>

<p>
  <strong>Third party product service:</strong>
  <%= @dpa_exception.third_party_product_service %>
</p>

<p>
  <strong>Used by:</strong>
  <%= @dpa_exception.used_by %>
</p>

<p>
  <strong>Point of contact:</strong>
  <%= @dpa_exception.point_of_contact %>
</p>

<p>
  <strong>Review findings:</strong>
  <%= @dpa_exception.review_findings %>
</p>

<p>
  <strong>Review summary:</strong>
  <%= @dpa_exception.review_summary %>
</p>

<p>
  <strong>Lsa security recommendation:</strong>
  <%= @dpa_exception.lsa_security_recommendation %>
</p>

<p>
  <strong>Lsa security determination:</strong>
  <%= @dpa_exception.lsa_security_determination %>
</p>

<p>
  <strong>Lsa security approval:</strong>
  <%= @dpa_exception.lsa_security_approval %>
</p>

<p>
  <strong>Lsa technology services approval:</strong>
  <%= @dpa_exception.lsa_technology_services_approval %>
</p>

<p>
  <strong>Exception approval date exception renewal date due:</strong>
  <%= @dpa_exception.exception_approval_date_exception_renewal_date_due %>
</p>

<p>
  <strong>Review date exception review date:</strong>
  <%= @dpa_exception.review_date_exception_review_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @dpa_exception.notes %>
</p>

<p>
  <strong>Sla agreement:</strong>
  <%= @dpa_exception.sla_agreement %>
</p>

<% if @dpa_exception.sla_attachment.attached? %>
  <p class="current-uploaded-docs">
    <strong>Sla Attachment:</strong> <%= link_to @dpa_exception.sla_attachment.filename, url_for(@dpa_exception.sla_attachment) %>
  </p>
<% else %>
  <p class="text-lg text-orange-500">
    Use the <%= link_to 'Edit', edit_dpa_exception_path(@dpa_exception) %> button to add a sla_attachment!
  </p>
<% end %>

<p>
  <strong>Data type:</strong>
  <%= @dpa_exception.data_type_id %>
</p>

<%= render partial: "partials/show_attachments", locals: {attached_files: @dpa_exception, show_p: "dpa_exception"} %>

<%= render partial: "tdx_tickets/tdx_tickets", locals: {record_to_tdx: @dpa_exception, destroy_p: "dpa_exception"} %>
<%= render partial: "tdx_tickets/form", locals: {record_to_tdx: @dpa_exception} %>

<%= link_to 'Edit', edit_dpa_exception_path(@dpa_exception) %> |
<%= link_to 'Back', dpa_exceptions_path %>
