<%= form_with(model: device) do |form| %>
  <%= render "partials/errors", object: @device %>

  <div class="form-container">
    <% if @device_form_text.present? %>
      <div>
        <h3 class="instruction-header">
          Form Instructions
        </h3>
          <div class="form-instructions">
            <%= @device_form_text.content %>
          </div>
          <p>
            <% if policy(Infotext).edit? %>
              <%= link_to edit_infotext_path(@device_form_text) do %>
                <i class="far fa-edit text-laitan_blue"></i>
              <% end %>
            <% end %>
          </p>
      </div>
    <% end %>

    <div class="field-container">
      <div class="field">
        <%= form.label :serial %>
        <%= form.text_field :serial %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :hostname %>
        <%= form.text_field :hostname %>
        <p class="help-text">Help text if needed</p>
      </div>
    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit 'Device', data: { disable_with: false } %>
    </div>
  </div>
<% end %>
