<%= form_with(model: device, html: {id: "form"}) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
        <% device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  Enter a serial number or a hostname
  </p>
  <div id="device_input">
    <div class="field">
      <%= form.label :serial %>
      <%= form.text_field :serial %>
    </div>

    <div class="field">
      <%= form.label :hostname %>
      <%= form.text_field :hostname %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'device_presence' %>
