<%= form_with(model: device) do |form| %>
  <%= render "partials/errors", object: @device %>

  <div class="field-container">
    <div class="field">
      <%= form.label :serial %>
      <%= form.text_field :serial %>
      <p class="help-text">Help text if needed</p>
    </div>

    <div class="field">
      <%= form.label :hostname %>
      <%= form.text_field :hostname %>
      <p class="help-text">Help text if needed</p>
    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit 'Device', data: { disable_with: false } %>
    </div>
  </div>
<% end %>
