<%= form_with(model: device) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
        <% device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div>
      <h3 class="instruction-header">
      Form Instructions
      </h3>
      <p>lsndn lksnsdj snnrew9ioqw\9, c diojslkmsdp odew-mw,mp owlf=w-9ke w,[osdk</p>
    </div>

    <div class="field-container">
      <div class="field">
        <%= form.label :serial %>
        <%= form.text_field :serial %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :hostname %>
        <%= form.text_field :hostname %>
        <p class="help-text">Help text if needed</p>
      </div>
    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit 'Device', data: { disable_with: false } %>
    </div>
  </div>
<% end %>
