<%= form_with(model: device) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
        <% device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div>
      <h3 class="instruction-header">
      Form Instructions
      </h3>
      <p>Ipsum voluptate aliquip adipisicing labore sint amet officia commodo 
        duis laboris do sit. Labore veniam mollit commodo quis nisi esse aute 
        fugiat. Amet exercitation aliquip labore ullamco irure magna tempor ad 
        sit aliqua culpa. Aliquip occaecat dolore Lorem officia incididunt amet 
        nisi nulla amet aute ex aute. Proident labore fugiat commodo ipsum ut 
        Lorem aliquip officia reprehenderit. Laboris dolore amet non irure do 
        voluptate nisi ex. Magna ullamco veniam exercitation duis esse officia 
        duis labore tempor sunt mollit.
      </p>
    </div>

    <div class="field-container">
      <div class="field">
        <%= form.label :serial %>
        <%= form.text_field :serial %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :hostname %>
        <%= form.text_field :hostname %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :mac %>
        <%= form.text_field :mac %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :manufacturer %>
        <%= form.text_field :manufacturer %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :model %>
        <%= form.text_field :model %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :owner %>
        <%= form.text_field :owner %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :department %>
        <%= form.text_field :department %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :building %>
        <%= form.text_field :building %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :room %>
        <%= form.text_field :room %>
        <p class="help-text">Help text if needed</p>
      </div>

    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
