<p>
  <strong>Serial:</strong>
  <%= @device.serial %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @device.hostname %>
</p>

<p>
  <strong>Mac:</strong>
  <%= @device.mac %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @device.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @device.model %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @device.owner %>
</p>
<p>
  <strong>Department:</strong>
  <%= @device.department %>
</p>

<p>
  <strong>Building:</strong>
  <%= @device.building %>
</p>

<p>
  <strong>Room:</strong>
  <%= @device.room %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %>

