<div>
  <div class="form-instruction p-2">
  <%= @device_show_text.content %>
  </div>
  <p>
  <% if policy(Infotext).edit? %>
    <%= link_to 'Edit', edit_infotext_path(@device_show_text), class: "action-link" %>
  <% end %>
  </p>
</div>
<div class="mt-5 border-t border-gray-200">
  <dl class="divide-y divide-gray-200">
    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Serial
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @device.serial %></span>
      </dd>
    </div>
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Hostname
        </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @device.hostname %></span>
      </dd>
    </div>
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Mac:
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @device.mac %></span>
      </dd>
    </div>
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Manufacturer
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @device.manufacturer %></span>
      </dd>
    </div>
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Model
      </dt>
    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
      <span class="flex-grow"><%= @device.model %></span>
      </dd>
    </div>
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Owner
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @device.owner %></span>
      </dd>
    </div>
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Department
        </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @device.department %></span>
      </dd>
    </div>
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Building
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @device.building %></span>
      </dd>
    </div>
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Room
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @device.room %></span>
      </dd>
    </div>

    <% if @legacy_os_records.present? %>
      <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
        <dt class="text-sm font-medium text-gray-500">
          Legacy OS records - Notes
        </dt>
        <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <% @legacy_os_records.each do |l| %>
              <li class="pl-3 pr-4 py-3 flex flex-col items-start justify-between text-sm">
                <div class="flex-1 flex items-center">
                  <i class="fas fa-link text-gray-400"></i>
                  <span class="ml-2 flex-1">
                    <%= link_to l.display_name, legacy_os_record_path(l) %>:
                  </span>
                </div>
                <div class="ml-2 flex-2"><%= l.notes %></div>
              </li>
            <% end %>
          </ul>
        </dd>
      </div>
    <% end %>

    <% if @sensitive_data_systems.present? %>
      <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
        <dt class="text-sm font-medium text-gray-500">
          Sensitive data systems - Notes
        </dt>
        <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <% @sensitive_data_systems.each do |s| %>
              <li class="pl-3 pr-4 py-3 flex flex-col items-start justify-between text-sm">
                <div class="flex-1 flex items-center">
                  <i class="fas fa-link text-gray-400"></i>
                  <span class="ml-2 flex-1">
                    <%= link_to s.display_name, sensitive_data_system_path(s) %>:
                  </span>
                </div>
                <div class="ml-2 flex-2"><%= s.notes %></div>
              </li>
            <% end %>
          </ul>
        </dd>
      </div>
    <% end %>

  </dl>
</div>

<% if policy(@device).edit? %>
  <%= link_to 'Update', update_device_path(@device), class: "action-link" %>
<% end %>

</div>