<%= form_with(model: sensitive_data_system) do |form| %>
  <% if sensitive_data_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sensitive_data_system.errors.count, "error") %> prohibited this sensitive_data_system from being saved:</h2>

      <ul>
        <% sensitive_data_system.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

    <div>
    <font color="red">**</font> - mandatory fields<br>
    <font color="red">*</font> - requered fields; to save without these fields check the [incomplete] checkbox
    </div>

    <div class="field">
      <%= form.label :owner_username %><font color="red">**</font>
      <%= form.text_field :owner_username, required: true  %>
    </div>

    <div class="field">
      <%= form.label :owner_full_name %><font color="red">**</font>
      <%= form.text_field :owner_full_name, required: true  %>
    </div>

    <div class="field">
      <%= form.label :dept %><font color="red">*</font>
      <%= form.text_field :dept %>
    </div>

    <div class="field">
      <%= form.label :phone %>
      <%= form.text_field :phone %>
    </div>

    <div class="field">
      <%= form.label :additional_dept_contact %>
      <%= form.text_field :additional_dept_contact %>
    </div>

    <div class="field">
      <%= form.label :additional_dept_contact_phone %>
      <%= form.text_field :additional_dept_contact_phone %>
    </div>

    <div class="field">
      <%= form.label :support_poc %><font color="red">*</font>
      <%= form.text_field :support_poc %>
    </div>

    <div class="field">
      <%= form.label :expected_duration_of_data_retention %>
      <%= form.text_area :expected_duration_of_data_retention %>
    </div>

    <div class="field">
      <%= form.label :agreements_related_to_data_types %>
      <%= form.text_field :agreements_related_to_data_types %>
    </div>

    <div class="field">
      <%= form.label :review_date %><font color="red">**</font>
      <%= form.date_select :review_date, include_blank: true, start_year: Date.current.year, required: true %>
    </div>

    <div class="field">
      <%= form.label :review_contact %><font color="red">**</font>
      <%= form.text_field :review_contact, required: true  %>
    </div>

    <div class="field">
      <%= form.label :notes %>
      <%= form.text_field :notes %>
    </div>

    <div class="field">
      <%= form.label :storage_location_id %><font color="red">**</font>
      <%= form.collection_select :storage_location_id, StorageLocation.all, :id, :name, {include_blank: "Select"}, required: true %>

    </div>

    <div class="field">
      <%= form.label :data_type_id %><font color="red">**</font>
      <%= form.collection_select :data_type_id, DataType.all, :id, :name, {include_blank: "Select"}, required: true %>
    </div>

    <%= content_tag :div, nil, data: {controller: "hello"} do %>

      <div class="field">
        <%= form.label :sensitive_data_system_type_id %><font color="red">**</font>
        <%= form.collection_select :sensitive_data_system_type_id, SensitiveDataSystemType.all, :id, :name, {include_blank: "Select"}, required: true, :"data-hello-target" => "sensitive_data_system_type", :"data-action" => "input->hello#display_device" %>
      </div>

      <div id="device_input" class="device--hide" data-hello-target="system_device">
      <%= form.label "Add a device" %><font color="red">**</font> - enter serial:
      <%= form.fields_for :device, @device do |device_attributes| %>
        <%= device_attributes.text_field :serial %>
        or hostname:
        <%= device_attributes.text_field :hostname %>
      <% end %>
  </div>
    <% end %>

  <div class="field">
    <%= form.label :attachments %>
    <%= form.file_field :attachments, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :incomplete %>
    <%= form.check_box :incomplete %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
