<%= form_with(model: @sensitive_data_system, html: {
  local: true
},
 data: {
  controller: "sensitiveds",
  target: "sensitiveds.form",
  action: "submit->sensitiveds#submitForm"
}) do |form| %>
  <% if @sensitive_data_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensitive_data_system.errors.count, "error") %> prohibited this sensitive_data_system from being saved:</h2>

      <ul>
        <% @sensitive_data_system.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div>
      <h3 class="instruction-header">
      Form Instructions
      </h3>
      <p>lsndn lksnsdj snnrew9ioqw\9, c diojslkmsdp odew-mw,mp owlf=w-9ke w,[osdk</p>
    </div>

    <div class="field-container">
      <div class="field">
        <%= form.label :owner_username%>
        <%= form.text_field :owner_username, required: true %>
      </div>

      <div class="field">
        <%= form.label :owner_full_name%>
        <%= form.text_field :owner_full_name, required: true %>
      </div>

      <div class="field">
        <%= form.label :dept%>
        <%= form.text_field :dept, required: true %>
      </div>

      <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone %>
      </div>

      <div class="field">
        <%= form.label :additional_dept_contact %>
        <%= form.text_field :additional_dept_contact %>
      </div>

      <div class="field">
        <%= form.label :additional_dept_contact_phone %>
        <%= form.text_field :additional_dept_contact_phone %>
      </div>

      <div class="field">
        <%= form.label :support_poc%>
        <%= form.text_field :support_poc %>
      </div>

      <div class="field">
        <%= form.label :expected_duration_of_data_retention %>
        <%= form.text_area :expected_duration_of_data_retention %>
      </div>

      <div class="field">
        <%= form.label :agreements_related_to_data_types %>
        <%= form.text_field :agreements_related_to_data_types %>
      </div>

      <div class="field">
        <%= form.label :review_date %>
        <%= form.text_field :review_date,
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "Y-m-d",
            flatpickr_min_date: Time.zone.now
          }
        %>
      </div>

      <div class="field">
        <%= form.label :review_contact%>
        <%= form.text_field :review_contact%>
      </div>

      <div class="field">
        <%= form.label :notes %>
        <%= form.text_field :notes %>
      </div>

      <div class="field">
        <%= form.label :data_type_id%>
        <%= form.collection_select :data_type_id, DataType.all, :id, :name, {include_blank: "Select"} %>
      </div>

      <div class="field">
        <%= form.label :storage_location_id %>
        <%= form.collection_select :storage_location_id, StorageLocation.all, :id, :name, {include_blank: "Select"},
                  :"data-sensitiveds-target" => "storage_location", :"data-action" => "input->sensitiveds#checkIfDeviceIsRequired" %>
      </div>

      <%= form.fields_for @sensitive_data_system.tdx_tickets.new do |f| %>
        <div class="field">
            <%= f.label :ticket_link, "Add a ticket link" %>
            <%= f.text_field :ticket_link %>
        </div>
      <% end %>

      <% if @sensitive_data_system.tdx_tickets.present? %>
        <div>
          <% @sensitive_data_system.tdx_tickets.each do |tdx| %>
            <%= tdx.ticket_link %>
          <% end %>
        </div>
      <% end %>

      <div class="device--hide" data-sensitiveds-target="system_device">
        <%= form.label "Add a device" %><font color="red">**</font> - enter serial:
        <%= form.fields_for :device, @device do |device_attributes| %>
          <%= device_attributes.text_field :serial, :"data-sensitiveds-target" => "serial" %>
          or hostname:
          <%= device_attributes.text_field :hostname, :"data-sensitiveds-target" => "hostname" %>
        <% end %>
        <div class="device-error--hide" data-sensitiveds-target="device_error">
          Add serial number or hostname
        </div>
      </div>

      <div class="field">
        <%= form.label :attachments %>
        <%= form.file_field :attachments, multiple: true %>
      </div>

      <%= form.hidden_field :incomplete %>

    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit 'Create Sensitive Data System', data: { disable_with: false } %>
    </div>
  </div>
<% end %>

