<div id="sensitive_data_systemListing">
  <span>
    Total number of records: <%= "#{@pagy.count}" %>
  </span>

  <div class="flex flex-nowrap justify-center">
    <div class="fixed_header_container">
      <table class="fixed_header">
        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col"><%= sort_link(@q, :owner_username, 'Owner username') %></th>
            <th scope="col">Owner full name</th>
            <th scope="col"><%= sort_link(@q, :dept, 'Dept') %></th>
            <th scope="col">Phone</th>
            <th scope="col">Additional dept contact</th>
            <th scope="col">Additional dept contact phone</th>
            <th scope="col">Support poc</th>
            <th scope="col">Expected duration of data retention</th>
            <th scope="col">Agreements related to data types</th>
            <th scope="col"><%= sort_link(@q, :review_date, 'Review date') %></th>
            <th scope="col">Review contact</th>
            <th scope="col"><%= sort_link(@q, :data_type_id, 'Data type', default_order: :desc) %></th>
            <th scope="col"><%= sort_link(@q, :storage_location_id, 'Storage location', default_order: :desc) %></th>

            <th scope="col">Device</th>
          </tr>
        </thead>

        <tbody>
          <% @sensitive_data_systems.each do |sensitive_data_system| %>
            <tr>
              <td>
                <ul>
                  <li><%= link_to 'Show', sensitive_data_system, class: "action-link" %></li>
                  <% if has_ad_access?(current_user, "sensitive_data_systems", "newedit_action") %>
                    <li><%= link_to 'Edit', edit_sensitive_data_system_path(sensitive_data_system), class: "action-link" %></li>
                  <% end %>
                  <% if has_ad_access?(current_user, "sensitive_data_systems", "archive_action") %>
                    <li><%= link_to 'Archive', archive_sensitive_data_system_path(sensitive_data_system), class: "action-link", method: :post, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                  <% if has_ad_access?(current_user, "sensitive_data_systems", "audit_action") %>
                    <li><%= link_to 'Audit', sensitive_data_system_audit_log_path(sensitive_data_system), class: "action-link" %></li>
                  <% end %>
                  </ul>
              </td>
              <td><%= sensitive_data_system.owner_username %></td>
              <td><%= sensitive_data_system.owner_full_name %></td>
              <td><%= sensitive_data_system.dept %></td>
              <td><%= sensitive_data_system.phone %></td>
              <td><%= sensitive_data_system.additional_dept_contact %></td>
              <td><%= sensitive_data_system.additional_dept_contact_phone %></td>
              <td><%= sensitive_data_system.support_poc %></td>
              <td><%= sensitive_data_system.expected_duration_of_data_retention %></td>
              <td><%= sensitive_data_system.agreements_related_to_data_types %></td>
              <td><%= show_date(sensitive_data_system.review_date) %></td>
              <td><%= sensitive_data_system.review_contact %></td>
              <td><%= show_data_type_name(sensitive_data_system) %></td>
              <td><%= show_storage_location(sensitive_data_system) %></td>
              <% if sensitive_data_system.device_id.present? %>
              <td><%= show_device(sensitive_data_system) %></td>
              <% end %>
            </tr>
          <% end %>
          <% if @sensitive_data_systems.empty? %>
            <tr>
              <td><em>No matching Sensitive Data Systems</em></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render partial: "partials/pagination", locals: { pagy: @pagy } %>
</div>