<div id="sensitive_data_systemListing">
  <div>
    <!-- Display number of item per page -->
    <%== pagy_items_selector_js(@pagy, item_name: 'Record'.pluralize(@pagy.count)) %>
  </div>
  <span>
    Total number of records: <%= "#{@pagy.count}" %>
  </span>

  <div class="my-2 flex justify-end sm:mt-0">
    <span class="ml-4 flex-shrink-0">
      <div role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="0">
        <%= link_to 'Export to CSV', sensitive_data_systems_path(params.merge(format: 'csv', q: params[:q]).permit!), class: "new-record-link" %>
      </div>
    </span>
  </div>

  <div class="flex flex-nowrap justify-center">
    <div class="fixed_header_container">
      <table class="fixed_header">
        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col"><%= sort_link(@q, :owner_full_name, 'Owner full name') %></th>
            <th scope="col"><%= sort_link(@q, :department_id, 'Department') %></th>
            <th scope="col"><%= sort_link(@q, :storage_location_id, 'Storage location', default_order: :desc) %></th>
            <th scope="col">Device</th>
            <th scope="col"><%= sort_link(@q, :updated_at, 'Last Modified') %></th>
            <th scope="col"><%= sort_link(@q, :data_type_id, 'Data type', default_order: :desc) %></th> 
          </tr>
        </thead>

        <tbody>
          <% @sensitive_data_systems.each do |sensitive_data_system| %>
            <tr>
              <td>
                <ul>
                  <li><%= link_to 'Show', sensitive_data_system, class: "action-link" %></li>
                  <% if policy(sensitive_data_system).edit? %>
                    <li><%= link_to 'Edit', edit_sensitive_data_system_path(sensitive_data_system), class: "action-link" %></li>
                  <% end %>
                  <% if policy(sensitive_data_system).archive? %>
                    <li><%= link_to 'Archive', archive_sensitive_data_system_path(sensitive_data_system), class: "action-link", method: :post, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                  <% if policy(sensitive_data_system).audit_log? %>
                    <li><%= link_to 'Audit', sensitive_data_system_audit_log_path(sensitive_data_system), class: "action-link" %></li>
                  <% end %>
                  </ul>
              </td>
              <td><%= sensitive_data_system.owner_full_name %></td>
              <td><%= show_department_name(sensitive_data_system) %></td>
              <td><%= show_storage_location(sensitive_data_system) %></td>
              <% if sensitive_data_system.device_id.present? %>
                <td><%= show_device(sensitive_data_system) %></td>
              <% else %>
                <td>--------</td>
              <% end %>
              <td><%= show_date(sensitive_data_system.updated_at) %></td>
              <td><%= show_data_type_name(sensitive_data_system) %></td>
              
              
              
            </tr>
          <% end %>
          <% if @sensitive_data_systems.empty? %>
            <tr>
              <td><em>No matching Sensitive Data Systems</em></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render partial: "partials/pagination", locals: { pagy: @pagy } %>
</div>