<h1>Sensitive Data System Audit Log for: <span class="bg-blue-50 px-2 rounded-sm"> <%= @sensitive_data_system.display_name %></span></h1>

<div class="flex flex-col h-2/3">
  <br>
  <div>
    <!-- Display number of item per page -->
    <%== pagy_items_selector_js(@pagy, item_name: 'Record'.pluralize(@pagy.count)) %>
  </div>
  <span>
      Total number of records: <%= "#{@pagy.count}" %>
  </span>
  <div class="flex-grow overflow-auto shadow rounded-md">
    <table class="relative w-full">
      <thead>
        <tr>
          <th scope="col" class="audit-th">Action</th>
          <th scope="col" class="audit-th">When</th>
          <th scope="col" class="audit-th">Who(user_id)</th>
          <th scope="col" class="audit-th">IP Address</th>
          <th scope="col" class="audit-th">What changed</th>
        </tr>
      </thead>

      <tbody class="divide-y bg-white">
        <% @sensitive_data_system_audit_log.each do |audit| %>
            <tr>
              <td class="audit-td"><%= audit.action %></td>
              <td class="audit-td"><%= audit.created_at.strftime('%c - %Z') %></td>
              <% if User.find_by(id: audit.user_id).present? %>
                <td><%= user_name_email(audit.user_id) %></td>
              <% else %> 
                <td class="audit-td"><%= audit.user_id %></td>
              <% end %>
              <td class="audit-td"><%= audit.remote_address %></td>
              <td class="px-6 py-4 text-left">
                  <% audit.audited_changes.each do |k, v| %>
                      <%= k.titleize %>
                      <% if v.is_a? Array %>
                        <strong>from:</strong> <%= v[0] %>
                        <strong>to:</strong> <%= v[1] %>
                      <% else %>
                        <strong>to:</strong> <%= v %>
                      <% end %>
                      <br>
                  <% end %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= render partial: "partials/pagination", locals: { pagy: @pagy } %>
</div>