<h1>Sensitive Data Systems</h1>

<p class="text-gray-500 text-sm mx-4">
  Sensitive Data Systems
</p>

<div data-controller='toggle' class="m-2">
  <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    data-action='click->toggle#toggle touch->toggle#toggle' >
  Filters
  </button>

  <div data-toggle-target='toggleable' class="m-4 hidden">
    <div class="form-container">
      <div class="field-container">
        <%= search_form_for @q, 
          data:{ controller: "filters"} do |f| %>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label "Group searching conditions by:" %>
            <div class="pl-4">
              <%= f.radio_button :m, 'and', :checked => true %>
              <%= f.label :m, 'and', value: 'and' %>
            </div>
            <div class="pl-4">
              <%= f.radio_button :m, 'or' %>
              <%= f.label :m, 'or', value: 'or' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :name %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :name_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :owner_username %>
            <div class="w-1/2 pl-2">
              <%= f.select :owner_username_eq, @owner_username, include_blank: "Select ...", placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :owner_full_name %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :owner_full_name_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :dept, "Department"  %>
            <div class="w-1/2 pl-2">
              <%= f.select :dept_eq, @dept, include_blank: "Select ...", placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :phone %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :phone_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :additional_dept_contact, "Additional department contact" %>
            <div class="w-1/2 pl-2">
              <%= f.select :additional_dept_contact_eq, @additional_dept_contact, include_blank: "Select ...", placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :additional_dept_contact_phone, "Additional department contact phone" %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :additional_dept_contact_phone_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :support_poc %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :support_poc_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :expected_duration_of_data_retention %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :expected_duration_of_data_retention_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :agreements_related_to_data_types %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :agreements_related_to_data_types_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :review_date %>
            <div class="w-1/3 pr-4 pl-2">
              <%= f.text_field :review_date_gteq, placeholder: "From",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>

            <div class="w-1/3">
              <%= f.text_field :review_date_lteq, placeholder: "To",
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d"
              } %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :review_contact %>
           <div class="w-1/2 pl-2">
              <%= f.select :review_contact_eq, @additional_dept_contact, include_blank: "Select ...", placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :notes %>
            <div class="w-1/2 pl-2">
              <%= f.text_field :notes_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :data_type_id %>
            <div class="w-1/3 pr-4 pl-2">
              <%= f.collection_select :data_type_id_eq, @data_type, :id, :name, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <%= f.label :data_type_id_blank %>
            <div class="w-1/3 pl-2">
              <%= f.check_box :data_type_id_blank %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :storage_location_id %>
            <div class="w-1/3 pr-4 pl-2">
              <%= f.collection_select :storage_location_id_eq, @storage_location, :id, :name, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <%= f.label :storage_location_id_blank %>
            <div class="w-1/3 pl-2">
              <%= f.check_box :storage_location_id_blank %>
            </div>
          </div>
          
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label "Serial" %>
            <div class="w-1/2 pl-2">
              <%= f.collection_select :device_id_eq, @device_serial, :id, :serial, include_blank: "Select ...", placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label "Hostname" %>
            <div class="w-1/2 pl-2">
              <%= f.collection_select :device_id_eq, @device_hostname, :id, :hostname, include_blank: "Select ...", placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>


          <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            data-action='click->filters#clearFilters'>
            Clear
          </button>
          <%= f.submit 'Search', data: { disable_with: false }, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>  
</div>

<div>
  <% if has_ad_access?(current_user, "sensitive_data_systems", "newedit_action") %>
    <div class="btn-new btn-blue" role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
      <%= link_to 'New Sensitive Data System', new_sensitive_data_system_path %>
    </div>
  <% end %>

  <%= render partial: "sensitive_data_systems/listing" %>

</div>