<% if @sensitive_data_system.incomplete %>
  <%= render 'partials/incomplete' %>
<% end %>

<div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
  <div class="text-lg leading-6 font-medium text-gray-900">
    <%= @sensitive_data_system.display_name %>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Sensitive Data System details.
      </p>
  </div>
  <div class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <span class="flex-grow"></span>
    <span class="ml-4 flex-shrink-0">
      <ul>
        <% if policy(@sensitive_data_system).edit? %>
          <li class= "btn-action"><%= link_to 'Edit', edit_sensitive_data_system_path(@sensitive_data_system) %></li>
        <% end %>
        <% if policy(@sensitive_data_system).archive? %>
          <li class= "btn-action"><%= link_to 'Archive', archive_sensitive_data_system_path(@sensitive_data_system),  method: :post, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
        <% if policy(@sensitive_data_system).audit_log? %>
          <li class= "btn-action"><%= link_to 'Audit', sensitive_data_system_audit_log_path(@sensitive_data_system) %></li>
        <% end %>
      </ul>
    </span>
  </div>
</div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Name
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.name %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Owner Name
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.owner_username %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Owner Full Name
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.owner_full_name %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Department
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_department_name(@sensitive_data_system) %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Phone
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.phone %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Additional Department Contact
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.additional_dept_contact %></span>
      </dd>
    </div>
  
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Additional Department Contact Phone
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.additional_dept_contact_phone %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Support Point of Contact
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.support_poc %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Expected Duration of Data Retention
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.expected_duration_of_data_retention %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Agreements Related to Data Types
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.agreements_related_to_data_types %></span>
      </dd>
    </div>
  
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Review Date
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_date(@sensitive_data_system.review_date) %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Review Contact
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.review_contact %></span>
      </dd>
    </div>
  
</p>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Notes
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @sensitive_data_system.notes %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Storage Location
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_storage_location(@sensitive_data_system) %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Data Type
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_data_type_name(@sensitive_data_system) %></span>
      </dd>
    </div>

    <% if @sensitive_data_system.device %>
      <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
        <dt class="text-sm font-medium text-gray-500">
          Device Name
        </dt>
        <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <i class="fas fa-link text-gray-400 pr-2"></i>
          <span class="flex-grow"><%= link_to show_device(@sensitive_data_system), device_path(@sensitive_data_system.device_id), class: "action-link" %></span>
        </dd>
      </div>
    <% end %>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <%= render partial: "tdx_tickets/tdx_tickets", locals: { tdx_ticket_resource: @sensitive_data_system } %>
    </div>
    
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <%= render partial: "partials/show_attachments", locals: { attached_files_resource: @sensitive_data_system } %>
    </div>

  </dl>
</div>
