<h1>Reports</h1>

<div class="py-2 sm:grid sm:grid-cols-5 sm:gap-4 border-b border-laitan_blue">
  <div class="sm:col-span-4">
    <div class="index-instructions">
      <%= @report_text.content %>
    </div>
    <div>
      <% if policy(Infotext).edit? %>
        <%= link_to edit_infotext_path(@report_text) do %>
          <i class="far fa-edit text-laitan_blue"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="form-container">
  <%= form_for :report_data, url: "run_report", method: :get,
   data: {
    controller: "report",
    target: "report.form",
    action: "submit->report#submitForm"
  } do |f| %>
    <section class="errors device-error--hide" data-report-target="message">
    </section>

    <div class="field-container">
      <div class="field flex flex-row flex-nowrap justify-items-start items-center">
        <%= label_tag "Select a table" %>
        <div class="pl-4">
          <%= select_tag :table, options_for_select({"All" => "all", "DPA exceptions" => "dpa", "IT security incidents" => 'isi', "Legacy OS records" => "lor", "Sensitive data systems" => "sds"}, "All"), 
                      :"data-report-target" => "table", :"data-action" => "change->report#checkReviewMonth", required: true %>
        </div>
      </div>
    </div>
    <div class="field-container">
      <div class="field flex flex-row flex-nowrap justify-items-start items-center device--display" data-report-target="review_month_div">
        <%= label_tag "Select a month for Review date" %>
        <div class="pl-4">
          <%= select_tag :review_month, options_for_select({ "Select ..." => "", "Current month" => "current", "Next month" => "next", "Previous month" => "previous", }, "Select ..."),
              :"data-report-target" => "review_month", :"data-action" => "change->report#changeTableList" %>
        </div>
      </div>
    </div>

    <div class="field-container">
      <div class="field flex flex-row flex-nowrap justify-items-start items-center" >
        <div class="w-1/3 pr-2 pl-2">
          <%= label_tag "Select data classification level" %>
            <%= select_tag :data_classification_level_id, options_from_collection_for_select(DataClassificationLevel.all, 'id', 'name'), include_blank: "Select ...", 
                :"data-report-target" => "classification_level", :"data-action" => "change->report#changeClassification" %>
        </div>
        <div class="w-1/3 pl-2">
          <%= label_tag "Data type" %>
          <%= select_tag :data_type_id, options_from_collection_for_select(DataType.all, 'id', 'name'), include_blank: "Select ...", :"data-report-target" => "data_type" %>
        </div>
      </div>
    </div>

    <div class="field-container">
      <div class="field flex flex-row flex-nowrap justify-items-start items-center">
        <div class="w-1/3 pr-2 pl-2">
          <%= label_tag "Records created between" %>
          <%= label_tag "From" %>
          <%= f.text_field :start_date, placeholder: "From",
            data: {
            controller: "flatpickr",
            flatpickr_date_format: "Y-m-d",
            }
          %>
        </div>
        <div class="w-1/3 pr-2 pl-4">
          <%= label_tag ".  " %>
          <%= label_tag "To" %>
          <%= f.text_field :end_date, placeholder: "To",
            :"data-report-target" => "end_date",
            data: {
              controller: "flatpickr",
              flatpickr_date_format: "Y-m-d",
              flatpickr_default_date: Time.zone.now
            }
          %>
        </div>
      </div>
    </div>

    <div class="field flex flex-row flex-nowrap justify-items-start items-center">
      <%= label_tag "Select a report type" %>
      <div class="pl-4">
        <%= select_tag :format, options_for_select({"Display in a browser" => "html", "Export to CSV" => "csv"}, "Display in a browser"), required: true %>
      </div>
    </div>
  
    <div class="action-area">
      <div class="actions">
        <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          data-action='click->report#clearFilters'>
          Clear
        </button>
        <%= f.submit "Run report", data: { disable_with: false }, method: :get %>
      </div>
    </div>
  <% end %>
</div>
  
<%= render partial: "reports/listing", locals: { title: @title }  %>
