<h1>Reports</h1>

<div>
  <h3>1. Systems with a review date equal to <%= "#{Date.today.strftime('%B')} #{Date.today.year}" %></h3>
  <div role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
    <%= link_to 'Show report', systems_with_review_date_this_month_path, class: 'new-record-btn' %>
  </div>
  <br>
  <div role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
    <%= link_to 'Export to CSV', systems_with_review_date_this_month_path(params.merge(format: 'csv', action: 'systems_with_review_date_this_month').permit!), class: "new-record-btn" %>
  </div>
</div>


<br>
<div>
  <h3>2. Show all systems with selected data type</h3>
  <div class="form-container">
    <div class="field-container">
      <%= form_tag(systems_with_selected_data_type_path, :method => "get") do |form| %>
        <div class="field flex flex-row flex-nowrap justify-items-start items-center">
          <%= label_tag "data type" %>
          <div class="pl-4">
          <%= select_tag :data_type_id, options_from_collection_for_select(DataType.all, 'id', 'name'), include_blank: "Select data type", required: true  %>
          </div>
          <div class="pl-4">
          <%= submit_tag "Show report", data: { disable_with: false } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>
<div>
  <h3>3. Download all systems with selected data type</h3>
  <div class="form-container">
    <div class="field-container">
      <%= form_tag(systems_with_selected_data_type_path, :method => "get") do |form| %>
        <div class="field flex flex-row flex-nowrap justify-items-start items-center">
          <%= label_tag "data type" %>
          <div class="pl-4">
          <%= select_tag :data_type_id, options_from_collection_for_select(DataType.all, 'id', 'name'), include_blank: "Select data type", required: true  %>
          </div>
          <%= hidden_field_tag 'format', 'csv'  %>
          <div class="pl-4">
          <%= submit_tag 'Export to CSV', data: { disable_with: false } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<br>
<div>
  <h3>4. Show all systems with selected data classification level</h3>
  <div class="form-container">
    <div class="field-container">
      <%= form_tag(systems_with_selected_data_classification_level_path, :method => "get") do |form| %>
        <div class="field flex flex-row flex-nowrap justify-items-start items-center">
          <%= label_tag "data classification level" %>
          <div class="pl-4">
          <%= select_tag :data_classification_level_id, options_from_collection_for_select(DataClassificationLevel.all, 'id', 'name'), include_blank: "Select data classification level", required: true  %>
          </div>
          <div class="pl-4">
          <%= submit_tag "Show report", data: { disable_with: false } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>
<div>
  <h3>5. Download all systems with selected data classification level</h3>
  <div class="form-container">
    <div class="field-container">
      <%= form_tag(systems_with_selected_data_classification_level_path, :method => "get") do |form| %>
        <div class="field flex flex-row flex-nowrap justify-items-start items-center">
          <%= label_tag "data classification level" %>
          <div class="pl-4">
          <%= select_tag :data_classification_level_id, options_from_collection_for_select(DataClassificationLevel.all, 'id', 'name'), include_blank: "Select data classification level", required: true  %>
          </div>
          <div class="pl-4">
          <%= hidden_field_tag 'format', 'csv'  %>
          <div class="pl-4">
          <%= submit_tag 'Export to CSV', data: { disable_with: false } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
</div>
<br>

<%= render partial: "reports/listing" %>


