<%= form_with(model: @legacy_os_record, 
              html: { local: true },
              data: {
                controller: "legacyos",
                target: "legacyos.form",
                action: "submit->legacyos#submitForm",
                turbo: "false"
              }
    ) do |form| %>
  <%= render "partials/errors", object: @legacy_os_record %>
  <div class="form-container">
    <% if @legacy_os_record_form_text.present? %>
      <div>
        <h3 class="instruction-header">
          Form Instructions
          <span class="text-sm">
            <% if policy(Infotext).edit? %>
              <%= link_to edit_infotext_path(@legacy_os_record_form_text) do %>
                <i class="far fa-edit text-laitan_blue hover:text-um_blue" aria-hidden="true" title="Edit infotext area"></i>
        <span class="sr-only">Edit infotext area</span>
              <% end %>
            <% end %>
          </span>
        </h3>
        <%= render partial: 'partials/info_form_toggler', locals: { infoform_resource: @legacy_os_record_form_text } %>
      </div>
    <% end %>

    <div class="field-container">
      <div class="field">
        <%= form.label :owner_username, class: "required" %>
        <%= form.text_field :owner_username, required: true %>
        <p class="help-text">Device owner's username. This must not be a LSATS person unless LSATS owns the device</p>
      </div>

      <div class="field">
        <%= form.label :owner_full_name, class: "required" %>
        <%= form.text_field :owner_full_name, required: true %>
        <p class="help-text">Device owner's full name</p>
      </div>

      <div class="field">
        <%= form.label :department_id, "Department", class: "required"  %>
        <%= form.collection_select :department_id, @departments_list, :id, :name, {include_blank: "Select"}, required: true %>
        <p class="help-text">Device owner's LSA department</p>
      </div>

      <div class="field">
        <%= form.label :phone, class: "required" %>
        <%= form.text_field :phone, required: true %>
        <p class="help-text">Device owner's phone number</p>
      </div>

      <div class="field">
        <%= form.label :additional_dept_contact, "Additional department contact" %>
        <%= form.text_field :additional_dept_contact %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :additional_dept_contact_phone, "Additional department contact phone" %>
        <%= form.text_field :additional_dept_contact_phone %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :support_poc%>
        <%= form.text_field :support_poc %>
        <p class="help-text">LSA TS Service Desk point of contact</p>
      </div>

      <div class="field">
        <%= form.label :legacy_os, "Legacy OS" %>
        <%= form.text_field :legacy_os%>
        <p class="help-text">Legacy OS name and version number</p>
      </div>

      <div class="field flex flex-row flex-nowrap justify-items-start items-start">
        <%= form.label "Unique app or Unique Hardware is required.", class: "required"  %>
        <div class="w-1/3 pr-4">
          <%= form.label :unique_app %>
          <%= form.text_field :unique_app %>
          <p class="help-text"> Software unique to this device that is preventing the OS upgrade</p>
        </div>

        <div class="w-1/3">
          <%= form.label :unique_hardware %>
          <%= form.text_field :unique_hardware %>
          <p class="help-text">Hardware unique to this device that is preventing the OS upgrade</p>
        </div>
      </div>

      <div class="field">
        <%= form.label :unique_date %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <i class="fas fa-calendar-day text-gray-400"></i>
            </div>
            <%= form.text_field :unique_date,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: 20.year.ago
              }
            %>
        </div>
        <p class="help-text">Expected date of OS upgrade or device retirement</p>
      </div>

      <div class="field">
        <%= form.label :remediation%>
        <%= form.rich_text_area :remediation %>
        <p class="help-text">Describe in detail the steps taken to secure this device (ex. extended update license was installed, moved to 10.x network, device physically airgapped from the intenet, etc) </p>
      </div>

      <div class="field">
        <%= form.label :exception_approval_date %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <i class="fas fa-calendar-day text-gray-400"></i>
            </div>
            <%= form.text_field :exception_approval_date,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: 20.year.ago
              }
            %>
        </div>
        <p class="help-text">Date this exception was initially approved</p>
      </div>

      <div class="field">
        <%= form.label :review_date %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <i class="fas fa-calendar-day text-gray-400"></i>
            </div>
            <%= form.text_field :review_date,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: 20.year.ago
              }
            %>
        </div>
        <p class="help-text">Date this record will next be reviewed</p>
      </div>

      <div class="field">
        <%= form.label :review_contact%>
        <%= form.text_field :review_contact%>
        <p class="help-text">Email address for reviewer</p>
      </div>

      <div class="field">
        <%= form.label :justification %>
        <%= form.rich_text_area :justification %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :local_it_support_group, "Local IT support group" %>
        <%= form.text_field :local_it_support_group %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :notes %>
        <%= form.rich_text_area :notes %>
        <p class="help-text"></p>
      </div>

      <div class="field">
        <%= form.label :data_type_id%>
        <%= form.collection_select :data_type_id, DataType.all, :id, :name, {include_blank: "Select"}%>
      </div>

      <div class="field">
        <%= form.fields_for @legacy_os_record.tdx_tickets.new do |f| %>
          <%= f.label :ticket_link, "TDX Ticket URL Link" %>
          <%= f.text_field :ticket_link %>
        <% end %>
        <% if @legacy_os_record.tdx_tickets.present? %>
          <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">
              TDX tickets connected to this record: 
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <% @legacy_os_record.tdx_tickets.each do |tdx| %>
                  <% if tdx.persisted? %>
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                      <div class="w-0 flex-1 flex items-center">
                        <i class="fas fa-link text-gray-400"></i>
                        <span class="ml-2 flex-1 w-0 truncate">
                          <%= link_to tdx.ticket_link, url_for(tdx.ticket_link), target: "_blank" %>
                        </span>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </dd>
          </div>
        <% end %>
      </div>

      <div class="field">
        <%= form.label 'Device', class: "required" %>
        <div class="flex flex-row flex-nowrap justify-items-start items-center" data-legacyos-target="system_device">
          <%= form.fields_for :device, @device do |device_attributes| %>
            <div class="w-1/3 pr-4">
              <%= form.label :serial %>
              <%= device_attributes.text_field :serial, :"data-legacyos-target" => "serial" %>
              <span class="device-error--hide text-red-700" data-legacyos-target="serial_error">
                Add serial number
              </span>
              <p class="help-text"></p>
            </div>

            <div class="w-1/3">
              <%= form.label :hostname %>
              <%= device_attributes.text_field :hostname, :"data-legacyos-target" => "hostname" %>
              <span class="device-error--hide text-red-700" data-legacyos-target="hostname_error">
                or hostname
              </span>
              <p class="help-text"></p>
            </div>
          <% end %>
        </div>
        <p class="help-text">You are able to enter either Hostname or Serial Number.
        <br> When you click the [Submit] button the devices information will be 
        updated from the associated TDX Assets entry.</p>
      </div>

      <div id="attached_files" class="field">
        <%= form.label :attachments, "Attachments (pdf,txt,jpg,png,doc,xls,zip)" %>
        <%= form.file_field :attachments, multiple: true %>
        <% if @legacy_os_record.attachments.attached? %>
          <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">
              Other files currently connected to this record:
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <% @legacy_os_record.attachments.each do |ma| %>
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                      <i class="fas fa-paperclip text-gray-400"></i>
                      <span class="ml-2 flex-1 w-0 truncate">
                        <%= link_to ma.filename, url_for(ma), target: "_blank" %>
                      </span>
                      <% unless ma.id.nil? %>
                        <span class="text-gray-300" aria-hidden="true">|</span>
                        <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                          <%= link_to 'Remove', delete_file_path(ma), data: { confirm: "Are sure you?" } %>
                        </button>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </dd>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit 'Submit', data: { disable_with: false } %>
    </div>
  </div>
<% end %>

