<%= form_with(model: @legacy_os_record, html: {
  local: true
},
data: {
  controller: "legacyos",
  target: "legacyos.form",
  action: "submit->legacyos#submitForm"
}) do |form| %>
  <% if @legacy_os_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@legacy_os_record.errors.count, "error") %> prohibited this legacy_os_record from being saved:</h2>

      <ul>
        <% @legacy_os_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div>
      <h3 class="instruction-header">
      Form Instructions
      </h3>
      <p>lsndn lksnsdj snnrew9ioqw\9, c diojslkmsdp odew-mw,mp owlf=w-9ke w,[osdk</p>
    </div>

    <div class="field-container">
      <div class="field">
        <%= form.label :owner_username%>
        <%= form.text_field :owner_username, required: true %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :owner_full_name%>
        <%= form.text_field :owner_full_name, required: true %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :dept%>
        <%= form.text_field :dept, required: true %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :phone%>
        <%= form.text_field :phone, required: true %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :additional_dept_contact %>
        <%= form.text_field :additional_dept_contact %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :additional_dept_contact_phone %>
        <%= form.text_field :additional_dept_contact_phone %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :support_poc%>
        <%= form.text_field :support_poc %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :legacy_os%>
        <%= form.text_field :legacy_os%>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="sm:col-span-3">
        <%= form.label :unique_app%>
        <%= form.text_field :unique_app %>
        <p class="help-text">Unique app or Unique Hardware is required</p>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="sm:col-span-3">
        <%= form.label :unique_hardware%>
        <%= form.text_field :unique_hardware %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :unique_date%>
        <%= form.text_field :unique_date,
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "Y-m-d",
            flatpickr_min_date: Time.zone.now
          }
        %>
      </div>

      <div class="field">
        <%= form.label :remediation%>
        <%= form.text_field :remediation%>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :exception_approval_date %>
        <%= form.text_field :exception_approval_date,
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "Y-m-d",
            flatpickr_min_date: Time.zone.now
          }
        %>
      </div>

      <div class="field">
        <%= form.label :review_date %>
        <%= form.text_field :review_date,
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "Y-m-d",
            flatpickr_min_date: Time.zone.now
          }
        %>
      </div>

      <div class="field">
        <%= form.label :review_contact%>
        <%= form.text_field :review_contact%>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :justification %>
        <%= form.text_field :justification %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :local_it_support_group%>
        <%= form.text_field :local_it_support_group %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :notes %>
        <%= form.text_area :notes %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
        <%= form.label :data_type_id%>
        <%= form.collection_select :data_type_id, DataType.all, :id, :name, {include_blank: "Select"}%>
      </div>

      <%= form.fields_for @legacy_os_record.tdx_tickets.new do |f| %>
        <div class="field">
            <%= f.label :ticket_link, "Add a ticket link" %>
            <%= f.text_field :ticket_link %>
        </div>
      <% end %>

      <% if @legacy_os_record.tdx_tickets.present? %>
        <div>
          <% @legacy_os_record.tdx_tickets.each do |tdx| %>
            <%= tdx.ticket_link %>
          <% end %>
        </div>
      <% end %>

      <div data-legacyos-target="system_device">
        <%= form.label "Add a device"%> - enter serial:
        <%= form.fields_for :device, @device do |device_attributes| %>
          <%= device_attributes.text_field :serial, :"data-legacyos-target" => "serial" %>
          or hostname:
          <%= device_attributes.text_field :hostname, :"data-legacyos-target" => "hostname" %>
        <% end %>
        <p class="help-text">Help text if needed</p>
      </div>

      <div class="field">
          <%= form.label :attachments %>
          <%= form.file_field :attachments, multiple: true %>
      </div>

      <%= form.hidden_field :incomplete %>

    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
