<div id="legacy_os_recordListing">
  <div>
    <!-- Display number of item per page -->
    <%== pagy_items_selector_js(@pagy, item_name: 'Record'.pluralize(@pagy.count)) %>
  </div>
  <span>
    Total number of records: <%= "#{@pagy.count}" %>
  </span>

  <div class="my-2 flex justify-end sm:mt-0">
    <span class="ml-4 flex-shrink-0">
      <div role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="0">
        <%= link_to 'Export to CSV', legacy_os_records_path(params.merge(format: 'csv', q: params[:q]).permit!), class: "new-record-link" %>
      </div>
    </span>
  </div>

  <div class="flex flex-nowrap justify-center">
    <div class="fixed_header_container">
      <table class="fixed_header">
        <thead>
          <tr>
          <th scope="col">Actions</th>
          <th scope="col">Owner full name</th>
          <th scope="col">Device</th>
          <th scope="col"><%= sort_link(@q, :legacy_os, 'Legacy OS') %></th>
          <th scope="col"><%= sort_link(@q, :updated_at, 'Last Modified') %></th>
          <th scope="col"><%= sort_link(@q, :data_type_id, 'Data type', default_order: :desc) %></th>
          <th scope="col"><%= sort_link(@q, :review_date, 'Review date') %></th>
          </tr>
        </thead>

        <tbody>
          <% @legacy_os_records.each do |legacy_os_record| %>
            <tr>
              <td>
              <ul>
                <li><%= link_to 'Show', legacy_os_record, class: "action-link" %></li>
                <% if policy(legacy_os_record).edit? %>
                  <li><%= link_to 'Edit', edit_legacy_os_record_path(legacy_os_record), class: "action-link" %></li>
                <% end %>
                <% if policy(legacy_os_record).archive? %>
                  <li><%= link_to 'Archive', archive_legacy_os_record_path(legacy_os_record), class: "action-link", method: :post, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
                <% if policy(legacy_os_record).audit_log? %>
                  <li><%= link_to 'Audit', legacy_os_record_audit_log_path(legacy_os_record), class: "action-link" %></li>
                <% end %>
              </ul>
              </td>
              <td><%= legacy_os_record.owner_full_name %></td>
              <td><%= show_device(legacy_os_record) %></td>
              <td><%= legacy_os_record.legacy_os %></td>
              <td><%= show_date(legacy_os_record.updated_at) %></td>
              <td><%= show_data_type_name(legacy_os_record) %></td>
              <td><%= show_date(legacy_os_record.review_date) %></td>
            </tr>
          <% end %>
          <!-- Blank state -->
          <% if @legacy_os_records.empty? %>
            <tr>
              <td><em>No matching Legacy OS Records</em></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render partial: "partials/pagination", locals: { pagy: @pagy } %>
</div>