<h1>Legacy Os Records</h1>

<table>
  <thead>
    <tr>
      <th>Owner username</th>
      <th>Owner full name</th>
      <th>Dept</th>
      <th>Phone</th>
      <th>Additional dept contact</th>
      <th>Additional dept contact phone</th>
      <th>Support poc</th>
      <th>Legacy os</th>
      <th>Unique app</th>
      <th>Unique hardware</th>
      <th>Unique date</th>
      <th>Remediation</th>
      <th>Exception approval date</th>
      <th>Review date</th>
      <th>Review contact</th>
      <th>Justification</th>
      <th>Local it support group</th>
      <th>Notes</th>
      <th>Data type</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legacy_os_records.each do |legacy_os_record| %>
      <tr>
        <td><%= legacy_os_record.owner_username %></td>
        <td><%= legacy_os_record.owner_full_name %></td>
        <td><%= legacy_os_record.dept %></td>
        <td><%= legacy_os_record.phone %></td>
        <td><%= legacy_os_record.additional_dept_contact %></td>
        <td><%= legacy_os_record.additional_dept_contact_phone %></td>
        <td><%= legacy_os_record.support_poc %></td>
        <td><%= legacy_os_record.legacy_os %></td>
        <td><%= legacy_os_record.unique_app %></td>
        <td><%= legacy_os_record.unique_hardware %></td>
        <td><%= legacy_os_record.unique_date %></td>
        <td><%= legacy_os_record.remediation %></td>
        <td><%= legacy_os_record.exception_approval_date %></td>
        <td><%= legacy_os_record.review_date %></td>
        <td><%= legacy_os_record.review_contact %></td>
        <td><%= legacy_os_record.justification %></td>
        <td><%= legacy_os_record.local_it_support_group %></td>
        <td><%= legacy_os_record.notes %></td>
        <td><%= legacy_os_record.data_type_id %></td>
        <td><%= legacy_os_record.device_id %></td>
        <td><%= link_to 'Show', legacy_os_record %></td>
        <td><%= link_to 'Edit', edit_legacy_os_record_path(legacy_os_record) %></td>
        <td><%= link_to 'Destroy', legacy_os_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Archive', archive_legacy_os_record_path(legacy_os_record), method: :post, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legacy Os Record', new_legacy_os_record_path %>
