<h1>Legacy OS Records</h1>

<div class="py-2 sm:grid sm:grid-cols-5 sm:gap-4 border-b border-laitan_blue">
  <div class="sm:col-span-4">
    <div class="index-instruction p-2">
      <%= @legacy_os_record_index_text.content %>
    </div>
    <div>
      <% if policy(Infotext).edit? %>
        <%= link_to edit_infotext_path(@legacy_os_record_index_text) do %>
          <i class="far fa-edit text-laitan_blue"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mt-1 flex justify-end sm:mt-0">
    <span class="ml-4 flex-shrink-0">
      <% if policy(@legacy_os_records).new? %>
        <div role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
          <%= link_to 'New Legacy OS Record', new_legacy_os_record_path, class: "new-record-btn" %>
        </div>
      <% end %>
    </span>
  </div>
</div>  

<div data-controller='toggle' class="filter-area m-2">
  <button type="button" class="new-record-btn"
    data-action='click->toggle#toggle touch->toggle#toggle' >
  Filters
  </button>
  
  <div data-toggle-target='toggleable' class="filter-selections bg-yellow-50 shadow p-2 m-4 hidden">
    <%= search_form_for @q, class: "filter-form",
      data:{ controller: "filters" } do |f| %> 
      <div class="grid grid-cols-2">

        <div class="col-span-2 mb-4 flex justify-start">
          <p>Group searching conditions by:</p>
          <div class="ml-4">
            <%= f.radio_button :m, 'and', :checked => true %>
            <%= f.label :m, 'and', value: 'and' %>
          </div>
          <div class="ml-4">
            <%= f.radio_button :m, 'or' %>
            <%= f.label :m, 'or', value: 'or' %>
          </div>
        </div>

        <div class="border">
          <div class="mx-2 mb-1">
            <div>
              <%= f.label :owner_full_name %>
              <%= f.text_field :owner_full_name_cont, placeholder: "Contains", class: 'form-control' %>
            </div>

            <div>
              <%= f.label :device_hostname %>
              <%= f.text_field :device_hostname_cont, placeholder: "Contains", class: 'form-control' %>
            </div>

            <div>
              <%= f.label :device_serial %>
              <%= f.text_field :device_serial_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            
            <div>
              <%= f.label :legacy_os, "Legacy OS" %>
              <%= f.select :legacy_os_eq, @legacy_os, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <div class="flex items-end">
              <div class="flex-1 w-1/2">
                <%= f.label "Record last modified date" %>
                <%= f.text_field :updated_at_gteq, placeholder: "From",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
              <div class="ml-1 flex-1 w-1/2">
                <%= f.text_field :updated_at_lteq, placeholder: "To",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
            </div>
            <div>
              <%= f.label :data_type_id %>
              <%= f.collection_select :data_type_id_eq, @data_type, :id, :name, include_blank: "Select ...", class: 'form-control' %>
              <%= f.label :data_type_id_blank %>
              <%= f.check_box :data_type_id_blank %>
            </div>
            <div class="flex items-end">
              <div class="flex-1 w-1/2">
                <%= f.label :review_date %>
                <%= f.text_field :review_date_gteq, placeholder: "From",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
              <div class="ml-1 flex-1 w-1/2">
                <%= f.text_field :review_date_lteq, placeholder: "To",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
            </div>
            <div>
              <%= f.label "Incomplete records" %>
              <%= f.check_box :incomplete_true %>
            </div>
          </div>
        </div>

        <div class="border">
          <div class="mx-2 mb-1">
            <div>
              <%= f.label :owner_username %>
              <%= f.select :owner_username_eq, @owner_username, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :department_id, "Department" %>
              <%= f.collection_select :department_id_eq, @department, :id, :name, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :phone %>
              <%= f.text_field :phone_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :additional_dept_contact, "Additional Department Contact" %>
              <%= f.select :additional_dept_contact_eq, @additional_dept_contact, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :additional_dept_contact_phone, "Additional Department Contact Phone" %>
              <%= f.text_field :additional_dept_contact_phone_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :support_poc %>
              <%= f.text_field :support_poc_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :unique_app %>
              <%= f.text_field :unique_app_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :unique_hardware %>
              <%= f.text_field :unique_hardware_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div class="flex items-end">
              <div class="flex-1 w-1/2">
                <%= f.label :unique_date %>
                <%= f.text_field :unique_date_gteq, placeholder: "From",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
              <div class="ml-1 flex-1 w-1/2">
                <%= f.text_field :unique_date_lteq, placeholder: "To",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
            </div>
            <div>
              <%= f.label :remediation %>
              <%= f.text_field :remediation_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div class="flex items-end">
              <div class="flex-1 w-1/2">
                <%= f.label :exception_approval_date %>
                <%= f.text_field :exception_approval_date_gteq, placeholder: "From",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
              <div class="ml-1 flex-1 w-1/2">
                <%= f.text_field :exception_approval_date_lteq, placeholder: "To",
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
            </div>
            <div>
              <%= f.label :review_contact %>
              <%= f.select :review_contact_eq, @review_contact, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :justification %>
              <%= f.text_field :justification_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :local_it_support_group, "Local IT support group" %>
              <%= f.select :local_it_support_group_eq, @local_it_support_group, include_blank: "Select ...", class: 'form-control' %>
            </div>
            <div>
              <%= f.label :notes %>
              <%= f.text_field :notes_cont, placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="mt-2 col-span-2 flex justify-start">
          <div class="mr-2">
            <%= f.submit 'Search', data: { disable_with: false }, class: '' %>
          </div>
          <div>
            <button type="button" class="filter-clear-btn"
              data-action='click->filters#clearFilters'>
              Clear
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
  <%= render partial: "legacy_os_records/listing" %>
</div>

