<h1>Legacy Os Records</h1>
<p class="text-gray-500 text-sm mx-4">
  Legacy Os Record
</p>

<div data-controller='toggle' class="m-2">
  <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    data-action='click->toggle#toggle touch->toggle#toggle' >
  Filters
  </button>

  <div data-toggle-target='toggleable' class="m-4 hidden">
    <div class="form-container">
      <div class="field-container">
        <%= search_form_for @q, 
          data:{ controller: "filters"} do |f| %>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            
            <%= f.label "Group searching conditions by:" %>
            <div class="w-1/3 pl-2">
              <%= f.radio_button :m, 'and', :checked => true %>
              <%= f.label :m, 'and', value: 'and' %>
              <%= f.radio_button :m, 'or' %>
              <%= f.label :m, 'or', value: 'or' %>
            </div>
          </div>
          <div class="field flex flex-row flex-nowrap justify-items-start items-center">
            <%= f.label :owner_username %>
            <div class="w-1/2 pl-2">
              <%= f.select :owner_username_cont, @owner_username, include_blank: "Select ...", placeholder: "Contains", class: 'form-control' %>
            </div>
          </div>


          <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            data-action='click->filters#clearFilters'>
            Clear
          </button>
          <%= f.submit 'Search', data: { disable_with: false }, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>  
</div>


</div>


<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <% if has_ad_access?(current_user, "legacy_os_records", "newedit_action") %>
    <div class="btn-new btn-blue" role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
      <%= link_to 'New Legacy Os Record', new_legacy_os_record_path %>
    </div>
  <% end %>

  <%= render partial: "legacy_os_records/listing" %>

</div>

