<% if @legacy_os_record.incomplete %>
  <%= render 'partials/incomplete' %> 
<% end %>

<div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
  <div class="text-lg leading-6 font-medium text-gray-900">
    <%= @legacy_os_record.display_name %>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Legacy OS Record details.
      </p>
  </div>
  <div class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <span class="flex-grow"></span>
    <span class="ml-4 flex-shrink-0">
      <ul>
        <% if policy(@legacy_os_record).edit? %>
          <li class= "action-link"><%= link_to 'Edit', edit_legacy_os_record_path(@legacy_os_record) %></li>
        <% end %>
        <% if policy(@legacy_os_record).archive? %>
          <li class= "action-link"><%= link_to 'Archive', archive_legacy_os_record_path(@legacy_os_record),  method: :post, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
        <% if policy(@legacy_os_record).audit_log? %>
          <li class= "action-link"><%= link_to 'Audit', legacy_os_record_audit_log_path(@legacy_os_record) %></li>
        <% end %>
      </ul>
    </span>
  </div>
</div>

<div class="mt-5 border-t border-gray-200">
  <dl class="divide-y divide-gray-200">  
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Owner Name
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.owner_username %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Owner Full Name
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.owner_full_name %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Department
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_department_name(@legacy_os_record) %></span>
      </dd>
    </div>
    
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Phone
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.phone %></span>
      </dd>
    </div>
    
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Additional Department Contact
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.additional_dept_contact %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Additional Department Contact Phone
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.additional_dept_contact_phone %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Support Point of Contact
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.support_poc %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Legacy OS
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.legacy_os %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Unique App
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.unique_app %></span>
      </dd>
    </div>
 
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Unique Hardware
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.unique_hardware %></span>
      </dd>
    </div>

    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Unique Date
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_date(@legacy_os_record.unique_date) %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Remediation
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.remediation %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Exception Approval Date
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_date(@legacy_os_record.exception_approval_date) %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Review Date
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_date(@legacy_os_record.review_date) %></span>
      </dd>
    </div>
  
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Review Contact
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.review_contact %></span>
      </dd>
    </div>
  
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Justification
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.justification %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Local IT Support Group
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.local_it_support_group %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Notes
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= @legacy_os_record.notes %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Date Type
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <span class="flex-grow"><%= show_data_type_name(@legacy_os_record) %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500">
        Device Name
      </dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <i class="fas fa-link text-gray-400 pr-2"></i>
        <span class="flex-grow"><%= link_to show_device(@legacy_os_record), device_path(@legacy_os_record.device_id), class: "action-link" %></span>
      </dd>
    </div>

    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <%= render partial: "tdx_tickets/tdx_tickets", locals: { tdx_ticket_resource: @legacy_os_record } %>
    </div>
    
    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
      <%= render partial: "partials/show_attachments", locals: { attached_files_resource: @legacy_os_record } %>
    </div>

  </dl>
</div>