<p>
  <strong>Owner username:</strong>
  <%= @legacy_os_record.owner_username %>
</p>

<p>
  <strong>Owner full name:</strong>
  <%= @legacy_os_record.owner_full_name %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @legacy_os_record.dept %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @legacy_os_record.phone %>
</p>

<p>
  <strong>Additional dept contact:</strong>
  <%= @legacy_os_record.additional_dept_contact %>
</p>

<p>
  <strong>Additional dept contact phone:</strong>
  <%= @legacy_os_record.additional_dept_contact_phone %>
</p>

<p>
  <strong>Support poc:</strong>
  <%= @legacy_os_record.support_poc %>
</p>

<p>
  <strong>Legacy os:</strong>
  <%= @legacy_os_record.legacy_os %>
</p>

<p>
  <strong>Unique app:</strong>
  <%= @legacy_os_record.unique_app %>
</p>

<p>
  <strong>Unique hardware:</strong>
  <%= @legacy_os_record.unique_hardware %>
</p>

<p>
  <strong>Unique date:</strong>
  <%= @legacy_os_record.unique_date %>
</p>

<p>
  <strong>Remediation:</strong>
  <%= @legacy_os_record.remediation %>
</p>

<p>
  <strong>Exception approval date:</strong>
  <%= @legacy_os_record.exception_approval_date %>
</p>

<p>
  <strong>Review date:</strong>
  <%= @legacy_os_record.review_date %>
</p>

<p>
  <strong>Review contact:</strong>
  <%= @legacy_os_record.review_contact %>
</p>

<p>
  <strong>Justification:</strong>
  <%= @legacy_os_record.justification %>
</p>

<p>
  <strong>Local it support group:</strong>
  <%= @legacy_os_record.local_it_support_group %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @legacy_os_record.notes %>
</p>

<p>
  <strong>Data type:</strong>
  <%= @legacy_os_record.data_type_id %>
</p>

<p>
  <strong>Device:</strong>
  <%= @legacy_os_record.device_id %>
</p>

<%= render partial: "partials/show_attachments", locals: {attached_files: @legacy_os_record} %>
<%= render partial: "partials/add_attachments", locals: {record: @legacy_os_record} %>


<%= render partial: "tdx_tickets/tdx_tickets", locals: {record_to_tdx: @legacy_os_record, destroy_p: "legacy_os_record"} %>
<%= render partial: "tdx_tickets/form", locals: {record_to_tdx: @legacy_os_record} %>

<%= link_to 'Edit', edit_legacy_os_record_path(@legacy_os_record) %> |
<%= link_to 'Back', legacy_os_records_path %>
