<footer class="w-full h-auto pin-b">
  <div>
    <div class="flex">
      <div class="w-1/3 pl-4">
        <address class="text-xs mt-2">
        TECHNOLOGY SERVICES
        <br>435 South State St
        <br>G155 Angell Hall
        <br>Ann Arbor, MI 48109-1003
        </address>
      </div>
      <div class="w-1/3 mt-2 mx-auto flex justify-center">
        <ul>
          <li>734.615.0100 - voice</li>
          <li><%= mail_to "lsa.security@umich.edu", "lsa.security@umich.edu", class: "footer-link" %></li>
        </ul>

      </div>
      <div class="w-1/3 flex justify-end">
        <% if admin_user_signed_in? %>
          <ul>
            <li>
              <%= link_to 'Admin Dashboard', admin_root_path, class: "footer-link mt-2 pr-4" %>
            </li>
            <li>
              <%= link_to destroy_admin_user_session_path, class: "footer-link", method: :delete do  %>
                <%= render :partial => 'svg/open_padlock' %>
                <span>Admin Sign_out</span>
              <% end %>
            </li>
          </ul>
        <% else %>
          <%= link_to new_admin_user_session_path, class: "footer-link" do  %>
            <%= render :partial => 'svg/closed_padlock' %>
            <span class='pr-4'>Admin Sign_in</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="w-full flex justify-center">
      <div class="copyright">
        Copyright <%= Time.now.year %> | <%= link_to 'The Regents of the University of Michigan', 'https://regents.umich.edu', class: "footer-link" %>
      </div>
    </div>
  </div>
</footer>